<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Help Index<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body info-page">
        <h1>TEST</h1>

      </div>
    </div>
  </div>