<% content_for :title do %>BulldogClip | Help<% end %>
<% content_for :description do %>Supplier Instructions<% end %>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body help-page">
        <h1>Suppliers</h1>
        <nav>
          <ul class="nav nav-pills nav-justified" role="navigation">
            <li class="active"><a href="#add" data-toggle="pill">Add a supplier</a></li>
            <li><a href="#view" data-toggle="pill">View your suppliers</a></li>
            <li><a href="#rename" data-toggle="pill">Rename a supplier</a></li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="panel panel-default col-md-10 col-md-offset-1 tab-content">
      <div class="panel-body help-page tab-pane active" id="add">
        <h2>Add a new supplier</h2>
        <ul>
          <li>'Supplier' is the name of the provider of the product or service you purchased this could be a shop or company name. For example a bill for the cost of postage might have a supplier of 'Post Office'.</li>
          <li>You can add a new supplier when you enter a new bill (see Bills instructions). Just type a new supplier name into the form and BulldogClip will automatically save it and add it to your Suppliers List when you submit the form.</li>
          <img src="" alt="Adding a new supplier in the New Bill form">
          <li>Next time you add a new bill you will find the supplier you added in the dropdown menu.</li>
          <img src="" alt="Selecting a supplier from dropdown menu in New Bill form">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="view">
        <h2>View your existing suppliers</h2>
        <ul>
          <li>From the menu select 'Tools' and then 'Suppliers'</li>
          <img src="" alt="Finding Suppliers in the menu">
          <li>This will open a list of all your existing suppliers.</li>
          <img src="" alt="List of suppliers">
        </ul>
      </div>

      <div class="panel-body help-page tab-pane" id="rename">
        <h2>Rename an existing supplier</h2>
        <ul>
          <li>You can rename a supplier if for example you have made a spelling mistake.</li>
          <li>From the menu select 'Tools' and then 'Suppliers'</li>
          <img src="" alt="Finding suppliers in the menu">
          <li>This will open a list of all your existing suppliers. Select the supplier that you want to rename from the list by clicking or tapping the row.</li>
          <img src="" alt="Selecting a supplier from the list">
          <li>This will open the Rename Supplier form. Enter the new name that you want to use for the supplier. Any bills that are assigned to the old name will be automatically reassigned to the new name. To commit your changes select 'Save'.</li>
          <img src="" alt="Rename supplier form">
        </ul>
      </div>

    </div>
  </div>
</div>