<tr title="click to edit", class="pointer rowlink",
    data-url="<%= edit_vat_rate_path(vat_rate)%>">
  <td class="first-col vat_rate_name_col"><%= vat_rate.name %></td>
  <td class="vat_rate-col"><%= vat_rate.rate %></td>
  <td class="vat_active-col last-col"><%= vat_rate.active? ? "yes" : "no" %></td>
</tr>