  <div class="table-responsive">
    <table class="table table-condensed" id="bill_table">
      <thead>
        <tr>
          <th class="first-col">Date</th>
          <th>Supplier</th>
          <th>Category</th>
          <th>Description</th>
          <th class="align-right">Amount</th>
          <% if params[:action] == 'edit' %>
          <th>Remove?</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @invoice.bills.each do |bill| %>
        <%= render 'bill_fields', f: bill %>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="title-td">Total </td>
          <td class="align-right"><%= number_to_currency(@invoice.total) %></td>
          <% if params[:action] == 'edit' %>
          <td></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>