  <div class="table-responsive">
    <table class="table table-condensed" id="bill_table">
      <thead>
        <tr>
          <th class="first-col date-col">Date</th>
          <th class="supplier-col">Supplier</th>
          <th class="category-col">Category</th>
          <th class="description-col-lg">Description</th>
          <th class="amount-col align-right">Amount</th>
          <% if params[:action] == 'edit' %>
          <th>Remove?</th>
          <% end %>
        </tr>
      </thead>
      <tbody id="bill_table_body">
      <% @bills.each do |bill| %>
        <%= render 'bill_fields', f: bill %>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="title-td align-right">Total </td>
          <td class="align-right"><%= number_to_currency(@invoice.total) %></td>
          <% if params[:action] == 'edit' %>
          <td></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>