<% content_for :title do %>Bulldog-Clip | Edit Invoice<% end %>
<% content_for :description do %>Edit invoice<% end %>
<div class="container">
    <h1>Invoice <%= @invoice.number %></h1>
         <a href="#" id="pop" class="info-btn pop" data-trigger="hover" data-placement="left" data-container= "body" data-original-title="About this page" data-content="Edit invoices using this form">
          <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
         </a>
    <div class="panel panel-default">
      <div class="panel-body">

        <%= render 'form' %>  
    </div>
  </div>
</div>