<% content_for :title do %>Bulldog-Clip | Edit Invoice<% end %>
<% content_for :description do %>Edit invoice<% end %>
<div class="container">
    <h1>Invoice <%= @invoice.number %></h1>

     <a href="#" id="pop" class="info-btn pop"  
     data-title="Edit Invoice" 
     data-content="
     <ul class='info-ul'>
     <li>Select any bills that you want to remove from the invoice. Once you are happy with all your changes use the 'Save Changes' button to confirm.</li>
     <li>Use 'Delete' to remove the invoice and return all the bills to the the pool.
     <li>*Note if you have invoiced the wrong customer, delete this invoice, then edit the bills to be associated with the correct customer before creating a new invoice.</li>
     <li>The 'Print Preview' button will generate a PDF of the fully formatted invoice in a new window for you to download or print.</li>
     <li>To return to the invoice index use 'Cancel'</li>
     </ul>">
     <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
     </a>
        <%= render 'edit_header' %> 
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %> 
    </div>

  </div>
</div>