<% content_for :title do %>Bulldog-Clip | New Invoice<% end %>
<% content_for :description do %>Create new invoice<% end %>
<div class="container">
  <div class="col-md-10 col-md-offset-1 panel panel-default">
    <div class="panel-body">
    <h1>New Invoice</h1>
      <%= render 'form' %>  
    </div>
  </div>
</div>