<% content_for :title do %>BulldogClip | Show Document<% end %>
<% content_for :description do %>Show document<% end %>
<div class="container">
    <h1>Document <%= @invoice.number %></h1>
     <a href="#" id="pop" class="info-btn pop"
     data-title="Review A Document"
     data-content="
     <ul class='info-ul'>
     <li>Use the 'Edit' button to change the comment or remove bills from this document.</li>
     <li>'Print Preview' opens a fully formatted PDF version in a new window for you to download or print.</li>
     <li>Select 'Back' to return to the list of documents.</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

     <%= render 'show_header' %>
  <div class="panel panel-default">
    <div class="panel-body">
        <%= render 'form' %>
    </div>
  </div>
</div>