<% content_for :title do %>Bulldog-Clip | Show Invoice<% end %>
<% content_for :description do %>Show invoice<% end %>
<div class="container">
    <h1>Invoice <%= @invoice.number %></h1>
     <a href="#" id="pop" class="info-btn pop"
     data-title="Review An Invoice"
     data-content="
     <ul class='info-ul'>
     <li>Use the 'Edit' button to change the comment or remove bills from this invoice.</li>
     <li>'Print Preview' opens a fully formatted PDF version in a new window for you to download or print.</li>
     <li>Select 'Back' to return to the list of invoices.</li>
     </ul>">
     <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
     </a>
     <%= render 'show_header' %>
  <div class="panel panel-default">
    <div class="panel-body">
        <%= render 'form' %>
    </div>
  </div>
</div>