<% content_for :title do %>Bulldog-Clip | Show Invoice<% end %>
<% content_for :description do %>Show invoice<% end %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
    <h1>Invoice <%= @invoice.number %></h1>
      <a href="#" id="pop" class="info-btn pop" data-trigger="hover" data-placement="left" data-container= "body" data-original-title="Invoice Detail" data-content="The 'Edit' button will allow you to change the comment or remove bills from this invoice. The 'Print Preview' button will open a PDF version in a new window so that you can download or print a formatted invoice. 'Back' goes back to the list of all invoices.">
        <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
      </a>
      <%= render 'show_header' %>  
    </div>
  </div>
</div>