<!-- Modal -->
  <div class="modal fade" id="first_sign_in_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content first_sign_in">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="modal_title">Welcome to BulldogClip</h4>
        </div>
        <div class="modal-body" id="first_sign_in">
          <p>Thank you for subscribing.</p>
          <br>
          <p>As this is your first login you may like to read the getting started guide. This will open in a new tab or window so that you can keep it open whilst using BulldogClip.</p>
          <br>
          <p>You can also access this at any time from the help button on the left of the screen. To continue using BulldogClip, come back to this window and click on ’Start using BulldogClip’.</p>
          <br>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="action-btn std-btn" data-dismiss="modal">Continue</button> -->
          <%= link_to 'Read Getting Started', '/help/intro', target: ("_blank"), class: "action-btn lg-btn pull-left" %>
          <%= link_to 'Start using BulldogClip', '#', class: "create-btn lg-btn", data: { dismiss: 'modal'} %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->