<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex,nofollow">
    <title>Your BulldogClip Free Trial Ends Soon</title>
  </head>
  <body>
    <table style="width: 600px;">
      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Hello <%= @account.email %>,
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <th style="height: 37px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;font-style: bold;border-top: 1px solid black;border-bottom: 1px solid black;">Your BulldogClip Free Trial Ends Soon
        </th>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Your free trial period ends on <%= @end_date.strftime("%d %B %Y") %>. You do not need to take any action to continue using <%= link_to 'BulldogClip', root_url %>.
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">We hope that you have enjoyed using <%= link_to 'BulldogClip', root_url %>. If you haven't found time to use it yet, now would be a good time.
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Remember, you can cancel your subscription at any time by going to the Accounts, Manage my Account option.
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">If you have any questions, please do get in touch.
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Regards,
        </td>
      </tr>


      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">The BulldogClip team
        </td>
      </tr>

      <tr>
        <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <td style="border-top: 1px solid #d0d0d0;height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
        </td>
      </tr>

      <tr>
        <td style="color: #777777;font-size: 12px;height: 27px;font-family: Arial, Sans-serif;">This email is confidential and intended solely to whom it is addressed. It may contain sensitive or privileged information. If you have received this email in error, please inform us at hello@bulldogclip.co.uk and destroy it. Questions? contact us at hello@bulldogclip.co.uk
        </td>
      </tr>
    </table>
  </body>
</html>