<% content_for :title do %>Bulldog-Clip | New Bill<% end %>
<% content_for :description do %>Create new bill<% end %>

<div class="container">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
    <h1>New Bill</h1>
      <%= render 'form' %>  
    </div>
  </div>
</div>