<% content_for :title do %>BulldogClip | Edit Document Setup<% end %>
<% content_for :description do %>edit BulldogClip document settings<% end %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 panel panel-default">
    <div class="panel-body">
      <div class = 'authform'>
        <h1>Edit Document Print Settings</h1>

     <a href="#" id="pop" class="info-btn pop"
     data-title="Edit Your Document Print Settings"
     data-content="
     <ul class='info-ul'>
     <li>Edit the details that will be used on any new documents you create.</li>
     <li>You can enter a document heading e.g. Invoice or Expense Claim, on the document itself.</li>
     <li>You can also choose to include your bank details or not on the document.</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
