<% content_for :title do %>Bulldog-Clip | Edit Invoice Setup<% end %>
<% content_for :description do %>edit Bulldog-Clip invoice settings<% end %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 panel panel-default">
    <div class="panel-body">
      <div class = 'authform'>
        <h1>Edit Invoice Print Settings</h1>

     <a href="#" id="pop" class="info-btn pop"  
     data-title="Edit Your Invoice Print Settings" 
     data-content="
     <ul class='info-ul'>
     <li>Edit the details that will be used on any new invoices you create.</li>
     <li>You can enter an invoice heading e.g. Invoice or Expense Claim, on the invoice itself.</li>
     <li>You can also choose to include your bank details or not on the invoice.</li>    
     </ul>">
     <img src="/assets/info_btn.png" alt="info button" class="info-img"/>
     </a>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
