<% content_for :title do %>Bulldog-Clip | Edit Customer<% end %>
<% content_for :description do %>Edit customer<% end %>

<div class="container"> 
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
      <h1>Edit Customer</h1>
          <a href="#" id="pop" class="info-btn pop" data-trigger="click" data-placement="left" data-container= "body" data-original-title="About this page" data-content="Change an existing customers name or address by entering the details in the form and pressing 'Save'"><img src="/assets/info_btn.png" alt="info button" class="info-img"/></a>
      <div class="authform">
        <%= render 'form' %>  
      </div>
    </div>
  </div>  
</div>