<% content_for :title do %>Bulldog-Clip | New Customer<% end %>
<% content_for :description do %>Create new customer<% end %>

<div class="container"> 
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
      <h1>New Customer</h1>
      <div class="authform">
        <%= render 'form' %>  
      </div>
    </div>
  </div>  
</div>