<% content_for :title do %>Bulldog-Clip | New Customer<% end %>
<% content_for :description do %>Create new customer<% end %>
<h1>New Customer</h1>
<div class="authform">
  <%= render 'form' %>  
</div>