<% content_for :title do %>Bulldog-Clip | About<% end %>
<% content_for :description do %>About Us<% end %>

<div class="container info-page">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a name="top"></a>
        <h2>About Us</h2>
      </div>
    </div>
  </section>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq">
        <dt>Overview</dt>
        <dd>
          <a href="#vision">Our Vision</a>
        </dd>
        <dd>
          <a href="#mission">Our Mission</a>
        </dd>

        <dd>
          <a href="#values">Our Values</a>
        </dd>
        <dd>
          <a href="#different">What makes us different</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->

    <div class="col-sm-7 col-sm-offset-1">
      <a name="vision"></a>
      <div class="row">
        <h3>Our Vision</h3>
        <p>To help people with little or no business experience to easily deal with the ﬁnancial aspects of running a micro business.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <a name="mission"></a>
      <div class="row">
        <h3>Our Mission</h3>
        <p>To design affordable intuitive software to improve business systems for micro businesses.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <a name="values"></a>
      <div class="row">
        <h3>Our Values</h3>
        <p>
          <ul>
            <li>Empowerment - Helping small businesses and start-ups to flourish</li>
            <li>Functionality - Straightforward operation</li>
            <li>Simplicity - Only the essential utilities and strong, fuss-free design</li>
          </ul>
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <a name="different"></a>
      <div class="row">
        <h3>What makes us different</h3>
        <p>No whizzy unnecessary gadgetry, simply what you need in order to do great business</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <a name=""></a>
      <div class="row">
        <h3></h3>
        <p></p>
        <a class="top" href="#top">Back to top</a>
      </div>
      <hr>
      </div><!-- end div col-sm-8-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->   

