<% content_for :title do %>BulldogClip | About<% end %>
<% content_for :description do %>About Us<% end %>

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
      <div class="row info-page">
        <h1 class="info-menu-page">About Us</h1>
      </div>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
          <dt>Overview</dt>
          <dd>
            <a href="#OBL">Owen Bannister Limited</a>
          </dd>
          <dd>
            <a href="#tech">Technology</a>
          </dd>
        </dl>
      </div>

      <div class="col-sm-7 col-sm-offset-1">
        <div class="row spacer" id="OBL">
          <h3>Owen Bannister Limited</h3>
            <p>Owen Bannister Limited is a software and graphical design and development company.</p>
            <p>We design and build affordable, intuitive software to improve business systems, specifically for small businesses and sole traders.</p>
            <br>
            <p>Our customers have eliminated complex spreadsheets and time consuming paper trails and co-ordinated their activities through simple, database-backed, browser-based systems, tailored to their needs.</p>
            <br>
            <p>BulldogClip is our shop window and demonstrates our capability to design, build and maintain bespoke solutions based on the latest, open source software platforms.</p>
            <br>
            <p>You can read the story behind BulldogClip <a href="/story" class="faq-link">here</a>.</p>
        </div>

        <hr>

        <div class="row spacer" id="tech">
          <h3>Technology</h3>
          <p>Our preferred platform for rapid agile development is Ruby on Rails.</p>
          <a class="top" href="#top">Back to top</a>
        </div>
      </div>
    </div>
  </div>
</div>

