<% content_for :title do %>Bulldog-Clip | About<% end %>
<% content_for :description do %>About Bulldog-Clip<% end %>
<div class="col-md-6 col-md-offset-3">
  <h1>VISION</h1>
  <h3>What is your vision?</h3>
  <p>To empower people with little or no business experience to easily deal with the financial aspects of running a
  micro business.</p>
  <h3>What's the business story?</h3>
  <p>
  Initially produced as a tailor made product for a single client. The client found it so useful that we decided to
  share it and while we were at it make it even better, but maintaining what the client loved most about it, its
  simplicity.</p>
  <h1>VALUES</h1>
  <h3>What are your brand values</h3>
  <p>simplicity, empowerment, quality, functionality</p>
  <h1>PERSONALITY </h1>
  <h3>Why was the name chosen?</h3>
  <p>Because a bulldog clip is a physical place to keep bills and this is a digital place to do the same thing</p>
  <h3>What is your ‘personality’?</h3>
  <p>sincere, intuitive, capable, approachable, focused, trustworthy </p>
</div>