<% content_for :title do %>Bulldog-Clip | About<% end %>
<% content_for :description do %>About Us<% end %>

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">About Us</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->    
  <hr> 

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>Overview</dt>
        <dd>
          <a href="#vision">Our Vision</a>
        </dd>
        <dd>
          <a href="#mission">Our Mission</a>
        </dd>

        <dd>
          <a href="#values">Our Values</a>
        </dd>
        <dd>
          <a href="#different">What makes us different</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->

    <div class="col-sm-7 col-sm-offset-1">
      <div class="row spacer" id="vision">
        <h3 'Source Sans Pro'>Our Vision</h3>
        <p>To help people with little or no business experience to easily deal with the ﬁnancial aspects of running a micro business.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="mission">
        <h3 'Source Sans Pro'>Our Mission</h3>
        <p>To design affordable intuitive software to improve business systems for micro businesses.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="values">
        <h3 'Source Sans Pro'>Our Values</h3>
        <p>
          <ul>
            <li>Empowerment - Helping small businesses and start-ups to flourish</li>
            <li>Functionality - Straightforward operation</li>
            <li>Simplicity - Only the essential utilities and strong, fuss-free design</li>
          </ul>
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="different">
        <h3 'Source Sans Pro'>What makes us different</h3>
        <p>No whizzy unnecessary gadgetry, simply what you need in order to do great business</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      </div><!-- end div col-sm-8-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->   

