<% content_for :title do %>Bulldog-Clip | About<% end %>
<% content_for :description do %>About Us<% end %>

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">About Us</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->    
  <hr> 

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>Overview</dt>
        <dd>
          <a href="#mission">Our mission</a>
        </dd>
        <dd>
          <a href="#values">What we believe in</a>
        </dd>
        <dd>
          <a href="#team">The Team</a>
        </dd>
        <dd>
          <a href="#press">Press kit</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->

    <div class="col-sm-7 col-sm-offset-1">
      <div class="row spacer" id="mission">
        <h3 'Source Sans Pro'>Our mission</h3>
        <p>There are lots of software products out there for big businesses with hundreds of employees. But what about the small businesses? Their needs are different. Wouldn't it be great if there were tailored products for them too?</p><br>
        <p>We design affordable intuitive software to improve business systems specifically for small businesses, micro-businesses and sole traders.</p><br>
        <p>We know that when you are working in a small team time is always at a premium. Any tools that can help to improve your workflow will prove to be invaluable.</p><br>
        <p>Straightforward administrative software can take the headache out of everyday tasks, freeing up your time to focus on what you really want to be doing - growing your business.</p><br>
        <p>What makes us different? You won't find any whizzy unnecessary gadgetry here, just simply what you need in order to do great business.</p><br>
        <p>You can read the story behind Bulldog Clip <a href="/story" class="faq-link">here</a>.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="values">
        <h3 'Source Sans Pro'>What we believe in</h3>
        <p>
          <ul>
            <li>Functionality – Straightforward operation that does what you want it to.</li><br>
            <li>Simplicitiy – Only the essential utilities for an efficient workflow.</li><br>
            <li>Empowerment – Providing systems that help small businesses and start-ups to flourish.</li><br>
            <li>Accessibility – With online software you can access anywhere you are no longer tied to your desk.</li>
          </ul>
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>
      
      <hr>
      <div class="row spacer" id="vision">
        <h3 'Source Sans Pro'>The team</h3>
        <p>As a team of two we understand how valuable your time is when you are juggling a multitude of tasks.</p><br>
        <p>It is our experience as a small business that helps to inspire our software products.</p><br>
        <p>We develop and use our software ourselves, that way we can be sure it does everything we need it to.</p><br>
        <p>If we find a better way to achieve our business goals then chances are other small teams would benefit too.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="press">
        <h3 'Source Sans Pro'>Press kit</h3>
        <p></p>
        <a class="top" href="#top">Back to top</a>
      </div>

      </div><!-- end div col-sm-8-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->   

