<% content_for :title do %>BulldogClip | Demo Account<% end %>
<% content_for :description do %>Demo Account<% end %>

<div class="container contact-page">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h1>Demo Account</h1>
      </div>
    </div><!--end row -->
  </section><!--end container-->
<hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <br>
        <h2>Coming Soon!
        </h2>
      </div>
    </div><!--end row-->
  </section><!--end container-->
</div><!--end container -->