<% content_for :title do %>Bulldog-Clip | FAQs<% end %>
<% content_for :description do %>Frequently asked questions<% end %>

<div class="container landing-info">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Why Bills?</h2>
        <p>Most of what you are likely to record in Bulldog Clip are not strictly speaking 'bills'. They will often be receipts, till receipts, credit card transaction advice notes, or even invoices. Bill is a short and friendly name. That's why we use it. Not to be 'correct' but to be simple and effective, like a bulldog clip.</p>
      </div>
    </div>
  </section>
  <hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>So Why Invoice?</h2>
        <p>OK. Bill is short and simple but 'invoice' sounds technical and nine out of ten users will not need to create one - as an invoice. 
        It happens that the friend who first had a need for a better, simpler system, did have a need to invoice a client for expenses. (See the Story). When we were developing what became Bulldog Clip the name for the function just stuck. 
        Of course, you can choose what title you give the document and what appears on it. Invoice is a single, reasonably short word to use for what is actually a way to archive bills, to print organised lists of bills, to facilitate recovery of some of your costs and generally get enhanced value from using Bulldog Clip. 
        They are optional. You don't need to use them.</p>
      </div>
    </div>
  </section>
  <hr>
  
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Why £5 a year?</h2>
        <p>Sadly there are costs to running any online application. Many of these costs vary with the number of users. To allow us to keep it running, it must at least cover those costs. To keep it simple, effective and friendly to use, we don't want to introduce advertising which gets in the way. 
        We hope that you will agree that £5 a year, less than 10p a week, is a reasonable cost. We believe that we will need to charge it every year, not just as a one off payment, because the unavoidable costs of running the system also happen every year. 
        If you run a small business and have to record expenses or if you use Bulldog Clip to reclaim expenses, you could be saving hours of your time each month. What is that worth?
        If you just want to use Bulldog Clip to track where your money is going, you will be amazed what insights you can achieve, even if you don't track every last penny. </p>
      </div>
    </div>
  </section>
</div><!--end container -->