<% content_for :title do %>Bulldog-Clip | FAQs<% end %>
<% content_for :description do %>Frequently asked questions<% end %>

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">FAQs</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->
  <hr>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>About Bulldog Clip</dt>
        <dd>
          <a href="#what_is_BC">What is Bulldog Clip?</a>
        </dd>
        <dd>
          <a href="#who">Who is Bulldog Clip for?</a>
        </dd>
        <dd>
          <a href="#why_bulldog">Why is it called Bulldog Clip?</a>
        </dd>
        <dd>
          <a href="#bc_app">Is there a Bulldog Clip app</a>
        </dd>
        <dd>
          <a href="#why_bills">Why bills?</a>
        </dd>
        <dd>
          <a href="#why_invoice">Why invoice?</a>
        </dd>

        <dt>Pricing</dt>
        <dd>
          <a href="#how_much">How much does it cost?</a>
        </dd>
        <dd>
          <a href="#why_cost">Why isn't it free?</a>
        </dd>
        <dd>
          <a href="#how_pay">What payment methods do you accept?</a>
        </dd>
        <dd>
          <a href="#where_bc_invoices">Where is the invoice for my Bulldog Clip subscription?</a>
        </dd>
        <dd>
          <a href="#change_pay_details">How do I change my subscription payment details?</a>
        </dd>
        <dd>
          <a href="#cancel_subscription">How can I cancel my subscription?</a>
        </dd>
        <dd>
          <a href="#free_demo">Can I try it out before I sign up?</a>
        </dd>

        <dt>Your account</dt>
        <dd>
          <a href="#how_sign_up">How do I sign up?</a>
        </dd>
        <dd>
          <a href="#cancel_account">How can I cancel my account?</a>
        </dd>
        <dd>
          <a href="#how_many_users">How many users can I add to my account</a>
        </dd>
<!--         <dd>
          <a href="#">How do i hide/add bank account details on the invoice?</a>
        </dd> -->
        <dd>
          <a href="#vat">Does Bulldog Clip support VAT</a>
        </dd>
        <dd>
          <a href="#bill_limit">Is there a limit to the number of bills I can store?</a>
        </dd>
        <dd>
          <a href="#internet">What happens if the internet is down?</a>
        </dd>
<!--         <dd>
          <a href="#">What happens if 2 users are editing at the same time?</a>
        </dd>
        <dd>
          <a href="#">How do I add/edit/delete users?</a>
        </dd> -->

<!--         <dd>
          <a href="#">How do I enable foreign currency</a>
        </dd> -->
        <dt>Data Security</dt>
        <dd>
          <a href="#data_protect">How is my data protected?</a>
        </dd>
        <dd>
          <a href="#safer_on_computer">Wouldn’t my data be safer on my own computer?</a>
        </dd>
        <dd>
          <a href="#data_out">Can i get my data out of Bulldog Clip?</a>
        </dd>
        <dd>
          <a href="#export_bookkeeper">How do i export data to my bookkeeper?</a>
        </dd>
        <dd>
          <a href="#retrieve_data">Can I retrieve my data if I decide to stop using Bulldog Clip?</a>
        </dd>
        <dd>
          <a href="#csv">What is a CSV file?</a>
        </dd>

        <dt>Contact Us</dt>
        <dd>
          <a href="#suggest_new">How can I suggest a new feature?</a>
        </dd>
        <dd>
          <a href="#contact">How can i contact Bulldog Clip?</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->


    <div class="col-sm-7 col-sm-offset-1">

      <div class="row spacer" id="what_is_BC">
          <h3 'Source Sans Pro'>What is Bulldog Clip?</h3>
          <p>Bulldog Clip was developed to take the pain out of tracking your costs, invoicing customers and reclaiming your expenses. This simple software removes the need for complicated spreadsheets, word processed invoices and addition done with a calculater. Let Bulldog Clip do all the hard work for you. Accessible online anywhere you have internet access. Available on mobile devices as well as desktops. You can process your spending wherever and whenever suits you. No more stacks of reciepts to process at the end of the month. You will be amazed at how much time it will save you.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="who">
          <h3 'Source Sans Pro'>Who is Bulldog Clip for?</h3>
          <p>Although Bulldog Clip was designed for small businesses and sole-traders to capture there costs, it has also proved useful for individuals who just wish to track there household spending. If you currently battle every month to keep track of your costs using spreadsheets, create invoices using a word processor and add everything up with a calculator, Bulldog Clip will put a smile back on your face.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
        <div class="row spacer" id="why_bulldog">
            <h3 'Source Sans Pro'>Why is it called Bulldog Clip</h3>
            <p>A bulldog clip is a simple and effective way of storing bills just like Bulldog Clip. When you get back from the shops you can keep all your reciepts neatly together in a bulldog clip until you are ready to process them onto the Bulldog Clip software.</p>
            <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
        <div class="row spacer" id="bc_app">
            <h3 'Source Sans Pro'>Is there a Bulldog Clip app?</h3>
            <p>We don't have an app for Bulldog Clip. However the software has been designed to work just as well on a phone or tablet device as it does on your desktop computer.</p>
            <a class="top" href="#top">Back to top</a>
        </div>
      <hr>    
      <div class="row spacer" id="why_bills">
        <h3 'Source Sans Pro'>Why bills?</h3>
        <p>Most of what you are likely to record in Bulldog Clip are not strictly speaking 'bills'. They will often be receipts, till receipts, credit card transaction advice notes, or even invoices. Bill is a short and friendly name. That's why we use it. Not to be 'correct' but to be simple and effective, like a bulldog clip.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="why_invoice">
          <h3 'Source Sans Pro'>Why invoices?</h3>
          <p>OK. Bill is short and simple but 'invoice' sounds technical and nine out of ten users will not need to create one - as an invoice. 
          It happens that the friend who first had a need for a better, simpler system, did have a need to invoice a client for expenses. (See the Story). When we were developing what became Bulldog Clip the name for the function just stuck. 
          Of course, you can choose what title you give the document and what appears on it. Invoice is a single, reasonably short word to use for what is actually a way to archive bills, to print organised lists of bills, to facilitate recovery of some of your costs and generally get enhanced value from using Bulldog Clip. 
          They are optional. You don't need to use them.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="how_much">
          <h3 'Source Sans Pro'>How much does it cost?</h3>
          <p>The current pricing plan is shown on our pricing page <a class="faq-link" href="/pricing">here</a>.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="why_cost">
          <h3 'Source Sans Pro'>Why isn't it free?</h3>
          <p>Sadly there are costs to running any online application. Many of these costs vary with the number of users. To allow us to keep it running, it must at least cover those costs. To keep it simple, effective and friendly to use, we don't want to introduce advertising which gets in the way. We hope that you will agree that it is a reasonable cost and easily covered by the saving in your time. If you run a small business and have to record expenses or if you use Bulldog Clip to reclaim expenses, you could be saving hours of your time each month. If you just want to use Bulldog Clip to just track where your money is going, you will be amazed what insights you can achieve, even if you don't track every last penny. We believe that we will need to charge it every year, not just as a one off payment, because the unavoidable costs of running the system also happen every year.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="how_pay">
          <h3 'Source Sans Pro'>What payment methods do you accept?</h3>
          <p>You can pay for your subscription online using a credit or debit card. Just select <%= link_to 'sign up', new_user_registration_path, class: 'faq-link' %> and we will walk you through the payment process.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="where_bc_invoices">
          <h3 'Source Sans Pro'>Where is the invoice for my Bulldog Clip subscription?</h3>
          <p>When you subscribe to Bulldog Clip we will send you an email with a copy of your invoice. When your subscription is up for renewal we will email you to let you know.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="change_pay_details">
          <h3 'Source Sans Pro'>How do I change my subscription payment details?</h3>
          <p>TO BE ADDED</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="cancel_subscription">
          <h3 'Source Sans Pro'>How can I cancel my subscription?</h3>
          <p>TO BE ADDED </p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="free_demo">
          <h3 'Source Sans Pro'>Can I try it out before I sign up?</h3>
          <p>Yes you can. We think the best way for you to see how it works is to try it for yourself. We have set up a free demo account that lets you try out all the features. This account already has some demo data in it so that you can immediately see how all the functions work. You can add to and edit the existing data, but please be aware that this is a public account so don't use any real personal details. You can access the free demo <a href="/try_now" class="faq-link">here</a>.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="how_sign_up">
          <h3 'Source Sans Pro'>How do I sign up?</h3>
          <p>You can sign up <%= link_to 'here', new_user_registration_path, class: 'faq-link' %>. All you need to do is enter your email address and we will send you all the registration details.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="cancel_account">
          <h3 'Source Sans Pro'>How can I cancel my account?</h3>
          <p>You can cancel your account at any point. Log in to Bulldog Clip, select the 'Account' option from the main menu. In the account view select 'Cancel Account'. You will be asked to confirm that you do want to cancel the account. Your account will then be closed. Make sure your export any data you want to keep before cancelling. Your data will be stored for 60 days in case you change your mind. If we don't hear from you with in 60 days your data will be purged.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="how_many_users">
          <h3 'Source Sans Pro'>How many users can I add to my account</h3>
          <p>TO BE ADDED</p>
          <a class="top" href="#top">Back to top</a>
        </div>

<!--       <hr>
      <div class="row spacer" id="hide_bank_details">
          <h3 'Source Sans Pro'>How do i hide/add bank account details on the invoice?</h3>
          <p></p>
          <a class="top" href="#top">Back to top</a>
        </div> -->

      <hr>
      <div class="row spacer" id="vat">
          <h3 'Source Sans Pro'>Does Bulldog Clip support VAT / GST / other tax tracking?</h3>
          <p>TO BE ADDED</p>
          <a class="top" href="#top">Back to top</a>
        </div>


      <hr>
      <div class="row spacer" id="bill_limit">
          <h3 'Source Sans Pro'>Is there a limit to the number of bills I can store?</h3>
          <p>Unlike some other software we don't charge by the number of bills you upload. You are free to add as many bills as you want.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="internet">
          <h3 'Source Sans Pro'>What happens if my internet is down?</h3>
          <p>Bulldog Clip is online software and so if your primary internet connection goes down you will need to find alternative internet access to use your account. With Bulldog Clip designed to be mobile friendly this shouldn't be too much of a problem. If you can't wait for the connection to be re-established we suggest you grab the opportunity to pop out for a coffee and use the internet there on your mobile device.</p>
          <a class="top" href="#top">Back to top</a>
        </div>


      <hr>
      <div class="row spacer" id="data_protect">
          <h3 'Source Sans Pro'>How is my data protected?</h3>
          <p>All the data is encrypted as it goes across the Internet using the familiar, high street bank level of security.</p>
          <a class="top" href="#top">Back to top</a>
        </div>



      <hr>
      <div class="row spacer" id="safer_on_computer">
          <h3 'Source Sans Pro'>Wouldn’t my data be safer on my own computer?</h3>
          <p>By storing your bills in the cloud you can be safe in the knowledge that they will not be lost if you have an unfortunate incident with your computer.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="data_out">
          <h3 'Source Sans Pro'>Can i get my data out of Bulldog Clip?</h3>
          <p>Yes you can. In the Bills section you can export a copy of all of your bills. Alternatively in the Analysis section you can filter your bills by date, customer, supplier and category before exporting them. These files can be downloaded in CSV format. In the Invoice section you can download invoices as PDFs.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="export_bookkeeper">
          <h3 'Source Sans Pro'>How do i export data to my bookkeeper?</h3>
          <p>TO BE ADDED</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="retrieve_data">
          <h3 'Source Sans Pro'>Can I retrieve my data if I decide to stop using Bulldog Clip</h3>
          <p>Prior to cancelling your account you can retrieve your data by using the export functions to download your data in CSV format. Once you have cancelled your account you will no longer have access to your data. 60 days after termination all your data will be purged.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="csv">
          <h3 'Source Sans Pro'>What is a CSV file?</h3>
          <p>CSV stands for "Comma Seperated Values." It is a file format that is used to store data in a structured table. This file format allows for the data to be easily retrieved into a variety of applications. Common examples of compatible applications are ones that are used to create spreadsheets and databases.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="suggest_new">
          <h3 'Source Sans Pro'>How can I suggest a new feature?</h3>
          <p>We always like to get feedback from our users. If there is a feature you would just love to have on Bulldog Clip <a href="/contact" class="faq-link">let us know</a> and we'll do our best to accommodate it.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      <hr>
      <div class="row spacer" id="contact">
          <h3 'Source Sans Pro'>How can i contact Bulldog Clip?</h3>
          <p>Can't find the answer to your question here? <a href="/contact" class="faq-link">Get in touch</a> and we will try our best to answer it.</p>
          <a class="top" href="#top">Back to top</a>
        </div>
      </div><!-- end div col-sm-8-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->
