<% content_for :title do %>Bulldog-Clip | Features<% end %>
<% content_for :description do %>Bulldog Clip features<% end %>

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">Features</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->    
  <hr> 

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>Overview</dt>
        <dd>
          <a href="#bills">Bills</a>
        </dd>
        <dd>
          <a href="#invoices">Invoices</a>
        </dd>
        <dd>
          <a href="#analysis">Analysis</a>
        </dd>
        <dd>
          <a href="#customers">Customers</a>
        </dd>
        <dd>
          <a href="#categories">Categories</a>
        </dd>
        <dd>
          <a href="#account">Account</a>
        </dd>
        <dd>
          <a href="#security">Security</a>
        </dd>
        <dd>
          <a href="#access">Accessibility</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->

    <div class="col-sm-7 col-sm-offset-1">
      <div class="row spacer" id="bills">
        <h3 'Source Sans Pro'>Bills</h3>
        <p>
          <ul>
            <li>A simple entry form to add new bills.</li>
            <li>Unlimited amount of bill data storage.</li>
            <li>Link bills to customers to invoice at a later date.</li>
            <li>Add categories, suppliers and descriptions.</li>
            <li>Bulldog Clip remembers previous entries so you can simply select them from a drop down menu.</li>
            <li>Sort bills by date, customer, supplier, category, description or amount.</li>
            <li>Fully editable so you can reasign to a different customer or category or correct any errors.</li>
            <li>Easily delete unwanted bills</li>
            <li>Export all your bills as a CSV file to keep as a back up or use elsewhere.</li>
          </ul>
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="invoices">
        <h3 'Source Sans Pro'>Invoices</h3>
        <p>
          <ul>
            <li>Select the customer you want to invoice and Bulldog Clip will automatically populate the invoice with all the relevant bills </li>
            <li>Customise with your own logo</li>
            <li>Automatically generates a fully formatted invoice containing your customers name and address details</li>
            <li>Rename to suit your needs - invoice, expense claim, whatever works for you</li>
            <li>Add comments or a message to your customer.</li>
            <li>Optionally include your bank details. Select to include bank details in your account settings and they will automatically be added to any invoices you create. </li>
            <li>Fully editable –  remove any bills you don't want, change the comment and invoice date at any point.</li>
            <li>Download as PDFs to print or email.</li>
            <li>Unlimited number of invoices, no extra charges.</li>
            <li>Quickly find what you are looking for - Search invoices by customer or comment, sort by invoice number, date or amount</li>
          </ul>
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>
      
      <hr>
      <div class="row spacer" id="analysis">
        <h3 'Source Sans Pro'>Analysis</h3>
        <p>
          <ul>
            <li>Filter by date, customer, supplier and category to generate charts and tables of your data.</li>
            <li>Charts to show:
              <ul>
                <li>Data by category and by supplier.</li>
                <li>Total spend per month and year on year.</li>
                <li>Total number of bills per month.</li>
              </ul>
            </li>
            <li>Searches also produce a data table which can be exported as a CSV file for use elsewhere</li>
          </ul>
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="customers">
        <h3 'Source Sans Pro'>Customers</h3>
        <p>
          <ul>
            <li>You only need to enter customers names and address' once and they will be stored in Bulldog Clip for future use.</li>
            <li>View and easily edit existing customer details.</li>
            <li>These details will be automatically added to any invoices you generate for that customer.</li>
          </ul>          
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="categories">
        <h3 'Source Sans Pro'>Categories</h3>
        <p>
          <ul>
            <li>New categories can be created as you go along when you create a new bill.</li>
            <li>Existing categories can be viewed and edited in the categories section.</li>
            <li>Categories can be renamed to correct any mistakes. If you rename a category with existing bills they will be assigned to the new category.</li>
          </ul>          
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="account">
        <h3 'Source Sans Pro'>Account</h3>
        <p>
          <ul>
            <li>Choose what you want to include in your invoice design: 
            <ul>  
              <li>Store your address and contact details.</li>
              <li>Personalise your invoice heading.</li>
              <li>Upload your company logo.</li>
              <li>Select to include your bank details on your invoices.</li>
            </ul> 
            <li>Update your user details - change your password or email address associated with the account. </li>
            <li>Manage your subscription - update your payment details.</li>
          </ul>          
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>
      <hr>
      <div class="row spacer" id="security">
        <h3 'Source Sans Pro'>Data Security</h3>
        <p>
        <li></li>     
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>
      <hr>
      <div class="row spacer" id="access">
        <h3 'Source Sans Pro'>Accessibility</h3>
        <p>
        <li>You will probably mostly use Bulldog Clip on your desktop computer but to give you added flexibility it has been designed for mobile use too.</li>
        <li>No need to download an app our site has been created to work well on all mobile devices.</li>
        <li>Use it anywhere - all you need is an internet connection to securely log on.</li>       
        </p>
        <a class="top" href="#top">Back to top</a>
      </div>
      </div><!-- end div col-sm-8-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->   