<% content_for :title do %>BulldogClip Features - Easy Cost Tracking & Invoicing<% end %>
<% content_for :description do %>BulldogClip features easy receipt archiving, spending graphs & spreadsheets, instant invoices, VAT support. Try now for free. Business & personal plans.<% end %>

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">Features</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->
  <hr>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>Overview</dt>
        <dd>
          <a href="#bills">Bills</a>
        </dd>
        <dd>
          <a href="#documents">Documents</a>
        </dd>
        <dd>
          <a href="#analysis">Analysis</a>
        </dd>
        <dd>
          <a href="#vat">VAT</a>
        </dd>
        <dd>
          <a href="#customers">Customers</a>
        </dd>
        <dd>
          <a href="#suppliers">Suppliers</a>
        </dd>
        <dd>
          <a href="#categories">Categories</a>
        </dd>
        <dd>
          <a href="#invoices">Document Setup</a>
        </dd>
        <dd>
          <a href="#account">Account</a>
        </dd>
        <dd>
          <a href="#security">Security</a>
        </dd>
        <dd>
          <a href="#access">Accessibility</a>
        </dd>
        <dd>
          <a href="#freetrial">Free Trial</a>
        </dd>
        <dd>
          <a href="/home">Return to homepage</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->

    <div class="col-sm-7 col-sm-offset-1">
      <div class="row spacer" id="bills">
        <h3>Bills</h3>
          <ul>
            <li>A simple entry form to add new bills.</li>
            <li>Unlimited amount of bill data storage.</li>
            <li>Link bills to customers to create an invoice or expense claim for them at a later date.</li>
            <li>Add categories, suppliers and descriptions as you go. No need to set them up before you use them.</li>
            <li>BulldogClip remembers previous entries so you can simply select them from a drop down menu.</li>
            <li>Sort bills by date, customer, supplier, category, description or amount.</li>
            <li>Fully editable so you can reasign to a different customer or category or correct any errors.</li>
            <li>Easily delete unwanted bills.</li>
            <li>Export all (or some of) your bills as a <%= link_to 'CSV file', page_path('faq',anchor: 'csv'), class:"faq-link" %> to keep as a back up or use elsewhere.</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="documents">
        <h3>Documents</h3>
          <ul>
            <li>Rename to suit your needs - invoice, expense claim, whatever works for you.</li>
            <li>Select the customer you want and BulldogClip will automatically populate the document with all the relevant bills.</li>
            <li>Customise with your own logo.</li>
            <li>Automatically generates a fully formatted document containing your customers name and address details.</li>
            <li>Add comments or a message to your customer.</li>
            <li>Optionally include your bank details and they will be available to any document you create.</li>
            <li>Select to include VAT (Business Plan only).</li>
            <li>Fully editable – remove any bills you don't want, change the comment and document date at any point.</li>
            <li>Download as PDFs to print or email.</li>
            <li>Unlimited number of documents, no extra charges.</li>
            <li>Quickly find what you are looking for - Search documents by customer or comment, sort by number, date or amount.</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="analysis">
        <h3>Analysis</h3>
          <ul>
            <li>Filter by date, customer, supplier and/or category to generate charts and tables of your data.</li>
            <li>Charts to show:
              <ul>
                <li>Data by category and by supplier.</li>
                <li>Total spend per month and year on year.</li>
                <li>Total number of bills per month.</li>
              </ul>
            </li>
            <li>Searches also produce a data table which can be exported for use elsewhere</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="vat">
        <h3>VAT (Business plan only)</h3>
          <ul>
            <li>Optionally select to include VAT in your account settings. Once activated you can:
              <ul>
                <li>Store your VAT registration number to include on your documents.</li>
                <li>Add VAT entries to bills.</li>
                <li>Add new VAT rates as required.</li>
                <li>Choose to include VAT on a document by document basis.</li>
                <li>Sumarises VAT by rate on documents.</li>
                <li>Creates HMRC valid VAT invoices.</li>
              </ul>
            </li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="customers">
        <h3>Customers</h3>
          <ul>
            <li>We call them customers but you may also choose to use this feature to group bills by home, business, employer, family member, payment method...</li>
            <li>You only need to enter a customer's name and address once and they will be stored in BulldogClip for future use.</li>
            <li>View and easily edit existing customers details.</li>
            <li>These details will be automatically added to any documents you generate for that customer.</li>
            <li>You can nominate one customer to be your default customer for simple bill entry.</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="suppliers">
        <h3>Suppliers</h3>
          <ul>
            <li>New suppliers can be created as you go along when you create a new bill.</li>
            <li>Existing suppliers can be viewed and edited in the suppliers section.</li>
            <li>Suppliers can be renamed to correct any mistakes. If you rename a supplier with existing bills they will be assigned to the new supplier.</li>
            <li>Suppliers are used in analysis of your spending.</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="categories">
        <h3>Categories</h3>
          <ul>
            <li>New categories can be created as you go along when you create a new bill.</li>
            <li>Existing categories can be viewed and edited in the categories section.</li>
            <li>Categories can be renamed to correct any mistakes. If you rename a category with existing bills they will be assigned to the new category.</li>
            <li>Categories are used in analysis of your spending.</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="invoices">
        <h3>Document setup</h3>
          <ul>
            <li>Choose what you want to include in your document design:
              <ul>
                <li>Store your address and contact details.</li>
                <li>Personalise your document heading.</li>
                <li>Upload your company logo (Business plan only).</li>
                <li>Add your bank details.</li>
                <li>Set default document printing preferences to include bank details and VAT.</li>
              </ul>
            </li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="account">
        <h3>Account</h3>
          <ul>
            <li>Update your user details - change your password or email address associated with the account. </li>
            <li>Manage your subscription.</li>
          </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="security">
        <h3>Data Security</h3>
        <ul>
          <li>Access is controlled by password.</li>
          <li>All traffic to and from the website is encrypted (look for "https://" in your browser').</li>
          <li>BulldogClip will automatically log you out if your account has been inactive for 30 minutes. (Unless you choose to use 'remember me').</li>
          <li>Your data is backed up in the cloud.</li>
          <li>You can take your own back up at anytime using the export function.</li>
          <li>Password resets are verified by email.</li>
          <li>Payment Card Industry (PCI) compliant card processing.</li>
        </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      <hr>
      <div class="row spacer" id="access">
        <h3>Accessibility</h3>
        <ul>
          <li>You will probably mostly use BulldogClip on your desktop computer but to give you added flexibility it has been designed for mobile use too.</li>
          <li>No need to download an app. Our site has been created to work on most mobile devices, although you may find really small screens a challenge for data entry.</li>
          <li>Use it anywhere - all you need is an internet connection to securely log on.</li>
        </ul>
        <a class="top" href="#top">Back to top</a>
      </div>


      <hr>
      <div class="row spacer" id="freetrial">
        <h3>30 Day Free Trial</h3>
        <ul>
          <li>The best way to see how BulldogClip will help you or your business is to try it. That's why we offer a 30 day no obligation free trial.</li>
          <li>During your trial you will have unlimited access to all of the features. You will be able to add your bills, view charts and graphs and create documents.</li>
          <li>We will email you towards the end of your trial to let you know it is coming to an end. We expect that you will find BulldogClip so useful you will choose to stay with us. But if you decide its not for you just choose to cancel and you won't be charged a penny.</li>
          <li>Keen to get started? Click here to <%= link_to 'start your free trial', plans_path, data: {toggle: "tooltip"}, title: "Start your free trial today", class:"faq-link" %> today.</li>
        </ul>
        <a class="top" href="#top">Back to top</a>
      </div>

      </div><!-- end div col-sm-8-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->