<% content_for :title do %>BulldogClip | Goodbye<% end %>
<% content_for :description do %>BulldogClip Goodbye<% end %>

<div class="container contact-page">
  <section class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <h1>Goodbye, sorry to see you go</h1>
        </div>
      </div>
    </section>
  <hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <br>
        <h2>We are sorry that you are leaving us </h2>
        <p>In case you want to come back, or left by accident, we will keep 
        your data safe for 30 days and then it will be deleted.</p>
        <br/>
        <p>To join again within the 30 days, please Sign In using your same
        email and password and follow the instructions.</p>
        <br/>
        <p>If you are not happy with your data being kept a while longer,
        please drop us an <%= mail_to "hello@bulldogclip.co.uk", 'email' %></p>
        <br/>
        <p> We would love to know
        what went wrong. If you have time to tell us, you can use the
        <%= link_to 'Contact Us', new_contact_path, class: 'faq-link'%>
        form.</p>
        <br/>
        <p>The BulldogClip team.</p>
      </div>
    </div>
  </section>
</div><!-- end container -->
