<% content_for :title do %>Bulldog-Clip | Home<% end %>
<% content_for :description do %>A place to keep receipts<% end %>
<div class="col-md-12">
  <div class="jumbotron">
    <div class="col-md-5">
    <%# image_tag("billdog.png") %>
    <img src="/assets/billdog.png" alt="billdog image">
    </div>
    <div class="col-md-7">
    <h1>Billdog</h1>
    <p>A friendly way to manage your bills</p>
    </div>
  </div>
</div>