<% content_for :title do %>Track Costs & Create Invoices Online with BulldogClip<% end %>
<% content_for :description do %>Keep track of your finances with BulldogClip cloud software. Easy bill entry, instant graphs & invoices. Small business & personal use.<% end %>
<!-- links google+ -->
<a href="https://plus.google.com/104999935252576837711" rel="publisher"></a>
<!-- BODY CONTAINER -->
<div class="landing-page container">
  <div class="row landing-top-row">
<!--     <div class="videocontent col-xs-12">
      <video id="intro_video" class="img-responsive video-js vjs-default-skin" poster=<%= asset_path('door_dog_poster_freetrial.png') %> title="Watch video" >
      <source src= <%= video_path('intro_video.mp4') %> type='video/mp4' />
      <source src= <%= video_path('intro_video.webm') %> type='video/webm' />
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
       </video>
    </div> -->
      <img src=<%= asset_path('door_dog_poster.png') %> alt="Dog waiting for bills image" class="bills-img img-responsive">
  </div>
  <!-- <div class="row strapline arrow-box"> --> <!-- adds arrow to beneath strapline -->
  <div class="row strapline ">
    <h1 class="strapline">Online Cost Tracking Software</h1>
  </div>
</div><!--end landing-page container-->
