<% content_for :title do %>Bulldog-Clip | Home<% end %>
<% content_for :description do %>A place to keep receipts<% end %>


<!-- BODY CONTAINER -->

<!-- <main role="main"> --><!--repeated in application.html.erb-->
    <div class="container-fluid">

    <!-- BANNER SECTION -->

    <!-- TOP BANNER -->

        <section class="top-banner" role="banner"><!--top banner-->

            <div class="row herotitle"> <!-- logo and strapline row-->
                <div class="col-xs-2"><!-- logo image-->
                    <img class="banner-logo img-responsive" src="/assets/banner_logo.png"  alt="Bulldog Clip logo">      
                </div>
                <div class="col-sm-10"><!-- logotext and strapline-->
                    <div class="row col-xs-10">
                        <img class="banner-logo-text img-responsive" src="/assets/banner_text.png" alt="Bulldog Clip text logo">
                    </div><!-- end logo text row -->
                    <div class="strapline row col-xs-12">
                        <h1>Strapline goes here to tell everyone how fantastic our product is</h1>
                    </div><!--end strapline row -->                    
                </div><!-- end logotext and strapline col-->
            </div><!--end logo and strapline row-->
            <div class="row">
                <img class="video img-responsive col-md-8 col-md-offset-2"  src="/assets/video.png" alt="video">
            </div>
        </section><!--end top-banner-->



    <!-- LOWER BANNER -->

        <section class="lower-banner">
            <div class="row">                  
                <div class="text-center col-md-8">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Aliquam, fugit, dolorum voluptatum sequi sunt similiqueipsum quaerat nesciunt. Scroll down to find out more ...</h3>
                </div><!--end lower banner text -->
                <div class="banner-btns col-md-4">
                    <button type="button" class="btn btn-success btn-lg"
                    ><%= link_to 'Free Demo', new_user_session_path %></button>           
                    <button type="button" class="btn btn-warning btn-lg"><%= link_to 'Sign Up Now', new_user_session_path %></button>
                </div><!-- end banner buttons-->
            </div><!-- end lower banner row -->
        </section><!--end lower banner -->

   

    <!-- SCROLL MENU -->
        
        <section class="subnav" role="navigation">
            <div class="row">
                <nav class="nav nav-justified" >
                    <ul class="nav nav-justified">
                        <li class="subnav-item"><a href="#" class="glyphicon glyphicon-cog col-sm-3 col-xs-6">Features</a></li>
                        <li class="subnav-item"><a href="#" class="glyphicon glyphicon-tag col-sm-3 col-xs-6">Pricing</a></li>
                        <li class="subnav-item"><a href="#" class="glyphicon glyphicon-picture col-sm-3 col-xs-6">Views</a></li>
                        <li class="subnav-item"><a href="#" class="glyphicon glyphicon-user col-sm-3 col-xs-6">Community</a></li>
                    </ul>
                </nav>
            </div><!--end scrollmenu row-->
        </section><!--end scrollmenu container-->




    <!-- FEATURES -->

    <!-- FEATURE 1 -->


        <section class="feature gradient">
            <div class="row">
                <div class="col-md-5">
<!--                     <img class="img-responsive" src="/assets/feature1.png" alt="bills"> -->
                    <img class="img-responsive" src="http://placehold.it/400x300/888888/ffffff&text=bills">
                </div>
                <div class="col-md-7">
                    <h2>Store your bills</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, explicabo, esse eveniet voluptates corrupti optio excepturi ipsam magni ipsa modi laboriosam provident nulla nihil dolor ex laborum eum iste dolorum soluta minima distinctio totam quaerat dicta sit perferendis possimus quasi!</p>
                </div>
            </div><!--end feature1 row-->          
        </section><!--end feature1 container-->


    <!-- FEATURE 2 -->
        <section class="feature gradient">
            <div class="row">

                <div class="col-md-5 col-md-push-7">
                    <!-- <img class="img-responsive" src="/assets/feature2.png" alt="reports"> -->
                    <img class="img-responsive" src="http://placehold.it/400x300/888888/ffffff&text=reports">
                </div>
                <div class="col-md-7 col-md-pull-5">
                    <h2>Generate reports</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    <br> Est, explicabo, esse eveniet voluptates corrupti optio excepturi ipsam magni ipsa modi laboriosam provident nulla nihil dolor ex laborum eum iste dolorum soluta minima distinctio totam quaerat dicta sit perferendis possimus quasi!</p>
                </div>                
            </div><!--end feature2 row-->
        </section><!--end feature2 container-->


    <!-- FEATURE 3 -->
        <section class="feature gradient">
            <div class="row">
                <div class="col-md-5">
                    <!-- <img class="img-responsive" src="/assets/feature3.png" alt="invoice"> -->
                    <img class="img-responsive" src="http://placehold.it/400x300/888888/ffffff&text=invoice">
                </div>
                <div class="col-md-7">
                    <h2>Store your bills</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, explicabo, esse eveniet voluptates corrupti optio excepturi ipsam magni ipsa modi laboriosam provident nulla nihil dolor ex laborum eum iste dolorum soluta minima distinctio totam quaerat dicta sit perferendis possimus quasi!</p>
                </div>
            </div><!--end feature3 row-->
        </section><!--end feature3 container-->



    <!-- CAROUSEL -->

        <section class="feature gradient">
            <div class="row">
                <div class="col-xs-12">
                <h2>Screenshot slider</h2>
                </div>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->

<!--                   <ol class="carousel-indicators">
>>>>>>> 282699380937d3f8e8cdc0d8b7d79f03ff466e18
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>

                  </ol> -->

                  <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="active item">

                            <img class="carousel-img row" src="/assets/slider1.png" alt="Screenshot 1">
                            <div class="carousel-caption row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit cum recusandae expedita hic. Corporis, provident.
                            </div>
                        </div>
                        <div class="item">
                            <img class="carousel-img row" src="/assets/slider2.png" alt="Screenshot 2">
                            <div class="carousel-caption row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, error. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quidem quasi reiciendis dolorum esse aut asperiores a sit qui libero.
                            </div>
                        </div>    
                        <div class="item">
                            <img class="carousel-img row" src="/assets/slider3.png" alt="Screenshot 3">
                            <div class="carousel-caption row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, corrupti.
                            </div>
                        </div>    
                        <div class="item">
                            <img class="carousel-img row" src="/assets/slider4.png" alt="Screenshot 4">
                            <div class="carousel-caption row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cum, soluta quos labore aliquid quibusdam!
                            </div>
                        </div>    
                    </div><!--end carousel inner-->

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>

                </div><!-- end carousel slide -->
            </div><!--end row -->    
        </section><!-- end carousel container -->


    <!-- PRICING -->

        <section class="feature gradient">
            <div class="row">            
                <div class="pricing col-xs-12 col-sm-6 col-md-5">
                    <img src="/assets/pricing.png" class="img-responsive" alt="pricing">
                </div><!--end pricing image col-->
                <section class="col-xs-12 col-sm-6 col-md-7 pull-right">
                    <h2>Pricing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, tenetur, ipsam, dolor amet iste delectus nostrum non accusantium expedita totam veritatis fugiat nulla natus voluptate odit perferendis consequuntur a optio?</p>
                    <button type="button" class="btn btn-warning btn-md"><%= link_to 'Sign Up Now', new_user_session_path %></button>
                </section><!--end pricing text and button section-->
            </div><!--end pricing row-->
        </section><!--end pricing container-->


    <!-- SOCIAL MEDIA -->

        <section class="feature gradient">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h2>Join our community on...</h2>
                </div>
            </div><!--end social media text row-->

            <div class="row">
                <div class="col-xs-3">
                       <img src="/assets/facebook.png" class="img-responsive center-block" alt="Facebook">
                </div>
                <div class="col-xs-3">
                    <img class="img-responsive center-block" src="/assets/linked_in.png" alt="Linked In">
                </div>
                <div class="col-xs-3">
                    <img class="img-responsive center-block" src="/assets/twitter.png" alt="Twitter">
                </div>
                <div class="col-xs-3">
                    <img class="img-responsive center-block" src="/assets/youtube.png" alt="You Tube">
                </div>
            </div><!--end social media icons row-->

        </section><!-- end social media container -->



    </div> <!--end body fluid container-->

<!-- </main> --> <!--end main-->


