<% content_for :title do %>Bulldog-Clip | Home<% end %>
<% content_for :description do %>A place to keep receipts<% end %>
<div class="col-md-12">
  <div class="jumbotron">
    <h1>Gnome Page</h1>
    <p>or Home page if you prefer</p>
  </div>
</div>