<% content_for :title do %>BulldogClip | Thanks<% end %>
<% content_for :description do %>BulldogClip Thanks for subscribing <% end %>

<div class="container contact-page">
  <section class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <h1>Thanks for subscribing!</h1>
        </div>
      </div>
    </section>
  <hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <br>
        <h2>You will receive a confirmation email shortly</h2>
        <p>Please click on the link in the email to confirm your account.</p>
        <br/>
        <p> You will be asked to choose a password and you will then be signed in.</p>
        <br/>
        <p>Your user name will be the email address you registered with.</p>
        <br/><br/>
        <p>The BulldogClip team.</p>
        <br/>
      </div>
    </div>
  </section>
  <!-- <div class="container landing-info"> -->
  <section class="container">
    <div class="btn-center row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <%= link_to "Continue", '/home', class: "action-btn lg-btn try-now-btn", data: {toggle: "tooltip"}, title: "Back to home page" %>
      </div>
    </div>
  </section>
<!-- </div> -->
</div><!-- end container -->