<% content_for :title do %>BulldogClip | News<% end %>
<% content_for :description do %>BulldogClip News<% end %>

<div class="container contact-page">
  <section class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <h1>BulldogClip News</h1>
        </div>
      </div>
    </section>
  <hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <br>
        <h2>Coming Soon!
        </h2>
      </div>
    </div>
  </section>
</div><!-- end container -->
