<% content_for :title do %>BulldogClip News | Cost Tracking Software | Free Trial<% end %>
<% content_for :description do %>Latest updates from BulldogClip - online cost-tracking software. Small business & personal use. Track expenses & create professional invoices. Free trial. <% end %>

<!-- <div class="container contact-page">
  <section class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <h1>BulldogClip News</h1>
        </div>
      </div>
    </section>
  <hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <br>
        <h2>Coming Soon!
        </h2>
      </div>
    </div>
  </section>
</div> -->

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">News</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
          <dt>Posts</dt>
<!--           <dd>
            <a href="#post1">Article 1</a>
          </dd> -->
<!--           <dd>
            <a href="#post2">Article 2</a>
          </dd> -->
          <dd>
            <a href="/home">Return to homepage</a>
          </dd>
        </dl>
      </div><!--end col-sm-3-->

      <div class="col-sm-7 col-sm-offset-1">
        <div class="row spacer" id="bills">
          <h3>July 2020</h3>
            <p>The software underlying BulldogClip has been updated to the latest versions to allow it to keep runing safely. There will be small cosmetic differences only.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

        <div class="row spacer" id="bills">
          <h3>October 2016</h3>
            <p>BulldogClip is moving on to a cheaper platform and will become free to current subscribers. There may be some noticeable delay in start up times but otherwise no change to performance.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

        <hr>
<!--         <div class="row spacer" id="documents">
          <h3>Article 2</h3>
            <p>Second news post.</p>
          <a class="top" href="#top">Back to top</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
