<% content_for :title do %>BulldogClip | News<% end %>
<% content_for :description do %>BulldogClip News<% end %>

<!-- <div class="container contact-page">
  <section class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
          <h1>BulldogClip News</h1>
        </div>
      </div>
    </section>
  <hr>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <br>
        <br>
        <h2>Coming Soon!
        </h2>
      </div>
    </div>
  </section>
</div> -->

<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">News</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
          <dt>Posts</dt>
          <dd>
            <a href="#post1">Article 1</a>
          </dd>
          <dd>
            <a href="#post2">Article 2</a>
          </dd>
          <dd>
            <a href="/home">Return to homepage</a>
          </dd>
        </dl>
      </div><!--end col-sm-3-->

      <div class="col-sm-7 col-sm-offset-1">
        <div class="row spacer" id="bills">
          <h3>Article 1</h3>
            <p>BulldogClip's first news post.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

        <hr>
        <div class="row spacer" id="documents">
          <h3>Article 2</h3>
            <p>Second news post.</p>
          <a class="top" href="#top">Back to top</a>
        </div>
      </div>
    </div>
  </div>
</div>
