<% content_for :title do %>BulldogClip Press Kit - Simple Cost Tracking Software<% end %>
<% content_for :description do %>Press section for BulldogClip simple cloud-based cost tracking and invoicing software. Small business & personal use. 30 day free trial.<% end %>

<div class="container info-page press-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
      <div class="row info-page">
        <h1 class="info-menu-page">Press Releases</h1>
      </div>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
          <dt>Overview</dt>
          <dd>
            <a href="#BDC">Introducing BulldogClip</a>
          </dd>
          <dd>
            <a href="#story">BulldogClip Story</a>
          </dd>
          <dd>
            <a href="#quotes">Quotes</a>
          </dd>
          <dd>
            <a href="#OBL">Owen Bannister Ltd</a>
          </dd>
          <dd>
            <a href="#contact">Press Contact</a>
          </dd>
        </dl>
      </div>

      <div class="col-sm-7 col-sm-offset-1">
        <div class="row spacer" id="BDC">
          <h2>Father-Daughter Duo Launch BulldogClip, Online Software To Help Small Businesses Track Their Costs</h2>
          <br>
            <p>Software developer Owen Bannister Ltd has launched BulldogClip - simple, online cost-tracking software for small businesses and the self employed.</p>
            <br>
            <p>The user friendly cloud-based software offers quick, slick bill entry, exportable data, graphs and formatted invoices.</p>
            <br>
            <p>Available at www.bulldogclip.co.uk BulldogClip helps small businesses and individuals keep on top of their spending, saving time and money on accounting and bookkeeping.</p>
            <br>
            <p>This is the first publicly available software from the UK based father-daughter run company.</p>
        </div>

        <div class="row spacer" id="benefits">
            <p>It is designed to be quick and easy to use. Costs can be captured fast with its simple bill entry. A click of a button:</p>
            <br>
            <p>
              <ul>
                <li>displays spending over time in coloured pie charts and graphs.</li>
                <li>creates professional, fully-formatted invoices to reclaim costs</li>
                <li>quickly searches archived bills and invoices.</li>
                <li>downloads data to send to the accountant or bookkeeper.</li>
              </ul>
            </p>
            <br>
            <p>Flexibility was at the heart of its design. The approach was to enable businesses to:</p>
            <br>
            <p>
              <ul>
                <li>track as many or as few bills as required.</li>
                <li>create categories to track, for example, business and household expenses separately.</li>
                <li>name categories and documents to suit whatever businesses need.</li>
              </ul>
            </p>
            <br>
            <p>BulldogClip is based in the Cloud so:</p>
            <br>
            <p>
              <ul>
                <li>it's portable. It can be accessed anywhere with internet access and on any device.</li>
                <li>it's backed up, which means information is always safe and stored.</li>
              </ul>
            </p>
            <br>
            <p>BulldogClip is available online at www.bulldogclip.co.uk. Subscriptions are £10 per year for a personal plan or from £50 per year for a business plan with a 30 day free trial.</p>
          <br>
        </div>

        <hr>

        <div class="row spacer" id="story">
          <h3>The BulldogClip Story</h3>
          <p>BulldogClip was initially developed as a solution to help the owner of a UK micro business.</p>
          <br>
          <p>In the past he would record all his small business expenses and create invoices using a word processor and a calculator. It took hours each month and he hated the process. He had tried spreadsheets but found them complicated and confusing.</p>
          <br>
          <p>BulldogClip, the user friendly software, made recording bills, reviewing spending and producing documents simple, saving the business both time and money. It proved so successful that the software has now made available to help other small businesses.</p>
          <br>
        </div>

        <hr>

        <div class="row spacer" id="quotes">
          <h3>Quotes</h3>
          <p>Company Director Owen Bannister says, "Most people know roughly what their big spending commitments are but do you know where the rest of the money goes? With BulldogClip it can actually be fun to put data in and see the picture developing.”</p>
          <br>
        </div>

        <hr>

        <div class="row spacer" id="OBL">
          <h3>About Owen Bannister Limited</h3>
          <p>Father-daughter duo Owen and Emily Bannister joined forces to start Owen Bannister Ltd.</p>
          <br>
          <p>Owen is 62 and had considered retirement, having worked for more than 20 years in IT consultancy and management around the globe.</p>
          <br>
          <p>Emily, 31, had studied fashion and brand promotion at university and was looking for a new challenge after five years in the Royal Air Force.</p>
          <br>
          <p>Bringing together their skills and experience in design and IT they formed Owen Bannister Ltd in 2013.</p>
          <br>
          <p>The company designs and builds simple, affordable, Software as a Service (SaaS) solutions specifically for small businesses and sole traders. As small business owners themselves they understand the specific needs and problems that small businesses face.</p>
          <br>
          <p>Their first publicly available app BulldogClip launched on 2 October 2014.</p>
          <br>
        </div>

        <hr>

        <div class="row spacer" id="contact">
          <h3>Notes To Editor</h3>
          <p>For additional information or if you have any further questions about BulldogClip, please feel free to contact us:</p>
          <br>
          <p>Owen Bannister, Director, owen@bulldogclip.co.uk</p>
          <br>
          <p>Emily Bannister, Director, emily@bulldogclip.co.uk</p>
          <a class="top" href="#top">Back to top</a>
        </div>

      </div>
    </div>
  </div>
</div>