<!DOCTYPE html>
<% content_for :title do %>Bulldog-Clip | Pricing<% end %>
<% content_for :description do %>Pricing information<% end %>

<div class="container info-page">
  <section class="container">
    <div class="row info-page">
      <h1 class="info-page">Pricing</h1>
    </div><!--end row -->
  </section><!--end container-->
<hr> 
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>Simply one price</h2>
      </div>
    </div><!--end row -->
  </section><!--end container-->
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>Pricing explanation. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sunt veritatis itaque quia consequuntur aspernatur ab ad fugiat! Quis, deserunt, explicabo soluta quibusdam porro commodi neque ullam sed minus dolor blanditiis quae veritatis unde maxime nobis nesciunt repellat cumque ea sit eos aperiam aliquam qui sint optio dolores quia culpa.</p>
      </div>
    </div><!--end row-->
  </section><!--end container-->
<hr>
</div><!--end container -->
<div class="btn-center">
        <%= link_to 'Sign up now', new_user_registration_path, class: 'create-btn std-btn try-now-btn' %>
</div>
<hr>