<% content_for :title do %>Bulldog-Clip | Privacy and Terms<% end %>
<% content_for :description do %>Privacy and Terms<% end %>


<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">Privacy Policy</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end container-->    
  <hr> 

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
          <dt>Overview</dt>
          <dd>
            <a href="#privacy_policy">Privacy Policy</a>
          </dd>
          <dd>
            <a href="#access">When you access Bulldog Clip</a>
          </dd>
          <dd>
            <a href="#sign_up">When you sign up to Bulldog Clip</a>
          </dd>
          <dd>
            <a href="#contact">When you contact us</a>
          </dd>
          <dd>
            <a href="#links">Links and affliated websites</a>
          </dd>
          <dd>
            <a href="#protect">Protecting your information</a>
          </dd>
          <dd>
            <a href="#personal">What is personal information?</a>
          </dd>
          <dd>
            <a href="#non_personal">What is non personal information</a>
          </dd>
          <dd>
            <a href="#marketing">Marketing</a>
          </dd>
          <dd>
            <a href="#IP">What is an IP address?</a>
          </dd>
        </dl>
      </div><!--end col-sm-3-->


      <div class="col-sm-7 col-sm-offset-1">
        <div class="row spacer" id="privacy_policy">
          <h3 'Source Sans Pro'>Privacy Policy</h3>
          <p>At Bulldog Clip we recognise the importance of your privacy. This policy outlines the information we collect, how we use it and how we safeguard your information.</p>
          <br>
          <p>Bulldog Clip may be required to revise this Privacy Policy in the future to comply with any applicable European regulations, in order to utilise new technologies or to improve your Bulldog Clip experience, so please check back periodically.</p>
          <br>
          <p>This Privacy Policy forms part of, and should be read in conjuction with, our Terms and Conditions.</p>
          <a class="top" href="#top">Back to top</a>
        </div>

        <hr>
        <div class="row spacer" id="access">
            <h3 'Source Sans Pro'>When you access Bulldog Clip</h3>
            <p>Bulldog Clip uses <a href="/cookies">cookies</a> to store and collect information about your usage of the Website in order to enhance your online experience and to help us improve the quality of our services.</p>
            <p> When you access Bulldog Clip, your computer automatically sends us information such as the URL on our Website that you have visited, your IP address, your browser type and language, and the date and time of your request.</p>
            <a class="top" href="#top">Back to top</a>
        </div>

        <hr>
        <div class="row spacer" id="sign_up">
            <h3 'Source Sans Pro'>When you sign up to Bulldog Clip</h3>
            <p>Bulldog Clip collects personal information when you register on the Website. Your information will be stored confidentially by us and only used by Bulldog Clip in order to provide you with access to our products, services and information that we believe will interest you. Your personal details will never be passed on to any other companies or third parties including affiliates and will never be added to any third party mailing lists or databases unless you opt in to do so.</p>
            <br>
            <p>Bulldog Clip may also use information about our users in statistical aggregate form. This is non personal information and simply refers to information such as the number of registrations, traffic patterns and Website user trends.</p>
            <a class="top" href="#top">Back to top</a>
        </div>

        <hr>
        <div class="row spacer" id="contact">
            <h3 'Source Sans Pro'>When you contact us</h3>
            <p>If you contact us via email, your details and a history of the communication will be stored by us in order for us to deal with enquiries adequately and improve our customer support services.</p>
            <a class="top" href="#top">Back to top</a>
          </div>

        <hr>
        <div class="row spacer" id="links">
            <h3 'Source Sans Pro'>Links and affliated websites</h3>
            <p>Bulldog Clip contains hypertext links to other sites, advertisers and other third parties. By clicking on any of these links, you are leaving our Website. Bulldog Clip has no control over the information collected by any third party after you have left the Website. Bulldog Clip encourages you to read their privacy policies.</p>
            <br>
            <p> The data collection and usage practices of any third party linked to Bulldog Clip are not covered by this Privacy Policy. Bulldog Clip assumes no liability and is not responsible for any practices of such third party web sites, including their privacy practices or content.</p>
            <a class="top" href="#top">Back to top</a>
          </div>

        <hr>
        <div class="row spacer" id="personal">
            <h3 'Source Sans Pro'>What is personal information?</h3>
            <p>Personal information is information you provide to us which personally identifies you including your name, address and e-mail address.</p>
            <a class="top" href="#top">Back to top</a>
          </div>

        <hr>
        <div class="row spacer" id="non_personal">
            <h3 'Source Sans Pro'>What is non personal information</h3>
            <p>Non personal information is collected and recorded about users when they use the Website. This information is collected into groups so that it no longer reflects or represents any individual user and is used purely for statistical purposes. This information may include financial information.</p>
            <a class="top" href="#top">Back to top</a>
          </div>

        <hr>
        <div class="row spacer" id="marketing">
            <h3 'Source Sans Pro'>Marketing</h3>
            <p>If you have published your organisation publicly on any of our websites then we reserve the right to use your organisation name and logo in any of our marketing material. Marketing on our websites includes testimonials, case studies and publishing your organisation’s logo and contact details in our public directories.</p>
            <a class="top" href="#top">Back to top</a>
          </div>

        <hr>
        <div class="row spacer" id="IP">
            <h3 'Source Sans Pro'>What is an IP address?</h3>
            <p>Each Internet connection is identified by a unique address which is referred to as an IP address (Internet Protocol address).</p>
            <br>
            <p>An IP address is made up of four numbers, separated by dots, for example: 87.124.10.1. This address allows any website visitor to be identified with the co-operation of the relevant Internet Service Provider (ISP). In practice an ISP would not give out this information because they would be in breach of the Data Protection Act. You should be aware that it is technically possible to connect an IP with a user with the help of a court order and the relevant ISP.</p>
            <br>
            <p>Some ISPs publish the name of the company or individual who uses the connection which allows anyone to see who is using that IP from central registries held by R.I.P.E. and other Regional Internet Registries (RIR). You can check if your IP address is listed using the whois service provided by all RIRs.</p>
            <a class="top" href="#top">Back to top</a>
          <hr>
          </div>
        </div><!-- end div col-sm-7-->
    </div><!--end row-->
  </div><!--end page content container -->
</div><!--end container -->
