<% content_for :title do %>BulldogClip | Story<% end %>
<% content_for :description do %>The story of BulldogClip<% end %>

<div class="container">
  <section class="container">
    <div class="row info-page">
      <h1 class="info-page">The Story</h1>
    </div><!--end row -->
  </section><!--end container-->
  <hr>
  <!-- <section class="container"> -->
<!--     <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h2>How did BulldogClip begin?</h2>
      </div>
    </div> --><!--end row -->
  <!-- </section>end container -->
  <section class="container story-info">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>
          Someone, who shall remain nameless, once used to record all their small business expenses on a word processor and add them up with a calculator. They packaged up the receipts and a printout of the document into monthly envelopes to give to their bookkeeper/accountant. It took hours each month and wasn't enjoyable.
        </p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('dog_clipped.png') %> alt="Clipped bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container story-info">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>
          The accountant re-did the arithmetic and checked all the paper work. It took hours each year and wasn't enjoyable - or cheap.
        </p>
        <p>
          Step one was to help them start using a spreadsheet instead of a word processor. But computers are not my friend's forte. Spreadsheet files proliferated. Naming conventions varied. Even the adding up couldn't be relied upon. (Sum(A1..A32)?).
        </p>
        <p>
          Two key changes were introduced. One was the simple use of a BulldogClip (real mechanical device) to keep pending bills in one place. The other was the little and often principle. Don't put it off to the busy end of the month, do it every day, one or two at a time. Its so easy that way.
        </p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('capture.png') %> alt="Clipped bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
  <section class="container story-info">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <p>
          The precursor to BulldogClip was born. As a database, it didn't need file names and technical jiggery pokery to keep it in order. As a web-based system it was always available in the office or in the home. Once bills were entered, they were clipped in a BulldogClip AND in BulldogClip. Straight from wallet or pocket to a safe place.
        </p>
        <p>
          Now, once a month, the BulldogClip is emptied and the bills stapled together with a printout. Total time a couple of minutes. Print an invoice to recharge expenses to clients, another couple of minutes. Saving in time and mental agony, very considerable.
        </p>
        <p>
          The accountant gets a file, legible invoices and the neatly stapled receipts.
        </p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src=<%= asset_path('store.png') %> alt="Clipped bills" class="img-responsive landing-img">
      </div>
    </div><!--end row-->
  </section><!--end container-->
<hr>
</div><!--end container -->