<!DOCTYPE html>
<% content_for :title do %>Bulldog-Clip | Terms<% end %>
<% content_for :description do %>Terms and conditions<% end %>


<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">Terms and Conditions</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->
  <hr>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>Overview</dt>
        <dd>
          <a href="#general_terms">1. General Terms</a>
        </dd>
        <dd>
          <a href="#interpretation">2. Interpretation</a>
        </dd>
        <dd>
          <a href="#terms">3. Term</a>
        </dd>
        <dd>
          <a href="#terms_of_use">4. Terms of use of the services</a>
        </dd>
        <dd>
          <a href="#pricing">5. Pricing and payment</a>
        </dd>
        <dd>
          <a href="#property_rights">6. Intelectual property rights</a>
        </dd>
        <dd>
          <a href="#termination">7. Termination</a>
        </dd>
        <dd>
          <a href="#">8. Consequences of termination</a>
        </dd>
        <dd>
          <a href="#">9. Warranties</a>
        </dd>
        <dd>
          <a href="#">10. Liability and indemnity</a>
        </dd>
        <dd>
          <a href="#">11. Confidentiality</a>
        </dd>
        <dd>
          <a href="#">12. Data protection</a>
        </dd>
        <dd>
          <a href="#">13. Customers IPR</a>
        </dd>
        <dd>
          <a href="#">14. Force majeure</a>
        </dd>
        <dd>
          <a href="#">15. Assignment</a>
        </dd>
        <dd>
          <a href="#">16. Survivorship</a>
        </dd>
        <dd>
          <a href="#">17. Severance</a>
        </dd>
        <dd>
          <a href="#">18. Entire agreement</a>
        </dd>
        <dd>
          <a href="#">19. Further assurance</a>
        </dd>
        <dd>
          <a href="#">20. Benefit of agreement</a>
        </dd>
        <dd>
          <a href="#">21. Waiver and remedies</a>
        </dd>
        <dd>
          <a href="#">22. Notices</a>
        </dd>
        <dd>
          <a href="#">23. Changes to the General Terms</a>
        </dd>
        <dd>
          <a href="#">24. No partnership or agency</a>
        </dd>
        <dd>
          <a href="#">25. Applicable law</a>
        </dd>
        <dd>
          <a href="#demo">25. Demo Account</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->


  <div class="col-sm-7 col-sm-offset-1">

    <div class="row spacer" id="general_terms">
      <h3>1. General Terms</h3>
      <p>1.1 We are Bulldog Clip. Our company number is ####### and our registered address is ######### ("Bulldog Clip", “we“, “us“)
      <br>
      1.2 These terms and conditions (the “General Terms“) apply to you (the “Customer“, “you” and “yours”) when you use the online Bulldog Clip services (whether on a trial period or monthly paid subscription) (the “Services“) on our website bulldog-clip.com (the “Site“).</p>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="interpretation">
        <h3>2. Interpretation</h3>
        <p>2.1 In the General Terms, unless the context otherwise requires, the following words and expressions shall have the following meanings:
        <br>
        2.2 All references to Clauses are, unless otherwise expressly stated, references to the Clauses of these General Terms.
        <br> 
        2.3 The headings in the General Terms are inserted for convenience only and shall be ignored in construing the General Terms.
        <br> 2.4 References to statutory provisions shall be construed as references to those provisions as amended, consolidated, extended or re-enacted from time to time.</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="terms">
        <h3>3. Term</h3>
        <p>3.1 The General Terms take effect from the date you begin using the Services and subject to Clause 7 (Termination) shall continue in effect for the duration of your use of the Services.</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="terms_of_use">
        <h3>4. Terms of use of the services</h3>
        <p>4.1 The Customer shall:</p>
        <br> 
        <p>4.1.1 comply with any and all instructions provided to the Customer by Bulldog Clip relating to the Service;</p>
        <br>
        <p>4.1.2 comply with the terms of the Privacy Policy;</p>
        <br>
        <p>4.1.3 not use the Services for any immoral or illegal purpose or in any way that would bring Bulldog Clip into disrepute;</p>
        <br> 
        <p>4.1.4 procure that its officers and employees co-operate with Bulldog Clip, its agents and sub-contractors in carrying out the Services; and</p>
        <br> 
        <p>4.1.5 be responsible for any and all applicable sales, use, excise, value added or other taxes and duties and any other fees, charges or payments payable to any governmental or regulatory authority, body or organisation incurred as a result of or in connection with the use by the Customer of the Services.</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="pricing">
        <h3>5. Pricing and Payment</h3>
        <p>5.1 For the purposes of these General Terms references to “Fees” shall mean the fee as posted on our Site from time to time and applicable in respect of your subscription to Bulldog Clip's Services.</p>
        <br>
        <p> 5.2 In consideration of the supply of the Service, the Customer agrees to pay Bulldog Clip the Fee in accordance with the payment terms advertised on the Site at the relevant time. Unless otherwise expressly stated, all prices are exclusive of value added tax.</p>
        <br>
        <p> 5.3 Bulldog Clip shall send an electronic receipted invoice to the Customer upon receipt by Bulldog Clip of the relevant payment.</p>
        <br>
        <p>5.4 Without prejudice to any other right or remedy it may have, Bulldog Clip reserves the right to set off any amount owing to it at any time from the Customer against any amount payable by Bulldog Clip to the Customer under or in connection with the General Terms.</p>
        <br>
        <p>5.5 If the Customer fails to pay any amount payable by it under the General Terms then Bulldog Clip reserves the right to restrict access the Services until payment is made.</p>
        <br>
        <p>5.6 No refund of any Fees shall be given under any circumstances.</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3>6. Intelectual property rights</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, rerum, quibusdam, iste excepturi totam assumenda magni aperiam perferendis labore repellendus facere cupiditate aspernatur? Asperiores vero voluptatem consequuntur obcaecati consequatur provident.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, odio quam earum labore vitae expedita tenetur sit cupiditate quos commodi!</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3>7. Termination</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dignissimos eveniet voluptas commodi sequi culpa nobis aut! Tempore, quod, debitis, excepturi minima est quis asperiores sapiente natus cum impedit ipsum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, suscipit sequi recusandae necessitatibus accusamus eveniet accusantium tempora tenetur odio veritatis.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

    <hr>
    <div class="row spacer" id="">
        <h3>8. Consequences of termination</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, accusantium ut dolorum modi ipsum deleniti ipsa at quaerat commodi ex? Sit recusandae nihil magnam modi aperiam illo non soluta cumque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum impedit ea libero veniam! Facilis, et, accusantium facere saepe inventore nesciunt!</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, numquam labore maxime sed impedit voluptatem vitae nesciunt atque autem dolor. Illo, voluptatem dicta nihil praesentium commodi ipsum expedita veniam officia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ut beatae expedita assumenda aspernatur harum minima unde similique deleniti dolorum.</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, at, qui, culpa dolor illo natus autem quo maxime quisquam vel doloribus doloremque deserunt numquam repudiandae quasi. Unde repudiandae voluptatibus culpa!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sit, ad adipisci voluptates ut sunt ducimus maiores veritatis quod totam.</p>
        <a class="top" href="#top">Back to top</a>
      </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, fugit, eaque repellendus fugiat commodi itaque nemo nihil porro dolore nulla in asperiores mollitia pariatur nam ipsa voluptatem magnam illo nobis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, rem at repellat debitis quaerat distinctio corrupti adipisci molestias soluta quae.</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex, odio, repellat, voluptates voluptatum corporis laboriosam magnam ullam velit modi enim impedit doloremque fugit saepe error quasi quae ut nostrum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quia sit consequuntur quam a suscipit doloribus reprehenderit accusamus temporibus earum?</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, vel, odio, aperiam maiores vitae eius quo veniam nesciunt quis aliquam laboriosam nulla excepturi tempora tempore asperiores ea id officia veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, neque, modi aspernatur error ab nam natus deleniti animi odio qui!</p>
        <a class="top" href="#top">Back to top</a>
      </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, iusto fugiat est natus libero odio voluptas fugit harum vel totam quae animi quaerat quis enim beatae culpa veniam. Explicabo, blanditiis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos labore et praesentium nobis officiis facilis magnam voluptatum iste adipisci!</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vel, minima, soluta ad odit incidunt temporibus iste inventore aliquid obcaecati fugiat quo voluptatibus maiores? Impedit incidunt ipsa pariatur aperiam vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, eius, voluptas reiciendis iste excepturi totam recusandae enim porro iure quisquam!</p>
        <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="">
        <h3></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, harum, autem, accusantium repudiandae deserunt possimus nemo ipsam suscipit mollitia inventore temporibus unde repellat fugit quisquam modi consequatur rem delectus debitis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, nulla nobis veniam aspernatur reiciendis consequatur nesciunt suscipit quo eos fugiat!</p>
        <a class="top" href="#top">Back to top</a>
    </div><!--end row-->
      <hr>
    <div class="row spacer" id="demo">
        <h3>Demo Account</h3>
        <p>Terms of use of the free demo account. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, harum, autem, accusantium repudiandae deserunt possimus nemo ipsam suscipit mollitia inventore temporibus unde repellat fugit quisquam modi consequatur rem delectus debitis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, nulla nobis veniam aspernatur reiciendis consequatur nesciunt suscipit quo eos fugiat!</p>
        <a class="top" href="#top">Back to top</a>
    </div><!--end row-->
    </div><!-- end div col-sm-7-->
    </div>
  </div><!--end page content container -->
</div><!--end container -->