<% content_for :title do %>BulldogClip | Terms<% end %>
<% content_for :description do %>Terms and conditions<% end %>


<div class="container info-page">
  <div class="container">
    <div class="col-sm-7 col-sm-offset-4">
    <div class="row info-page">
      <h1 class="info-menu-page">Terms and Conditions</h1>
    </div><!--end row -->
  </div><!--end col-sm-7-->
  </div><!--end header container-->
  <hr>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <dl class="faq affix-top" id="sidebar" data-spy="affix" data-offset-top="120">
        <dt>Terms of Use</dt>
        <dd>
          <a href="#key_terms">Key Terms</a>
        </dd>
        <dd>
          <a href="#about_us">About Us</a>
        </dd>
        <dd>
          <a href="#acceptance">Acceptance</a>
        </dd>
        <dd>
          <a href="#changes">changes</a>
        </dd>
        <dd>
          <a href="#uses">Uses</a>
        </dd>
        <dd>
          <a href="#account">Your Account and Password</a>
        </dd>
        <dd>
          <a href="#your_data">Your Data</a>
        </dd>
        <dd>
          <a href="#wrong">Things can go Wrong</a>
        </dd>
        <dd>
          <a href="#viruses">Viruses</a>
        </dd>
        <dd>
          <a href="#liability">Liability</a>
        </dd>
        <dd>
          <a href="#law">Law</a>
        </dd>
      </dl>
    </div><!--end col-sm-3-->


  <div class="col-sm-7 col-sm-offset-1">

    <div class="row spacer" id="top">
      <h3>Terms of Use</h3>
      <p> Please read before using this website. If you have any queries in 
      respect of these terms of use, please contact us here.</p>
      <br>
      <hr>
    </div>

    <div class="row spacer" id="key_terms">
      <h3>Key Terms</h3>
      <ul>
      <li>By using this website you are automatically agreeing to the Terms, our 
      <%= link_to 'Privacy Policy', page_path('privacy'), data: {toggle: "tooltip"}, title: "Read our privacy policy" %> and <%= link_to 'Cookie Policy', page_path('cookies'), data: {toggle: "tooltip"}, title: "Read our cookie policy" %></li><li>Anything you tell us (such as your name 
      and email address) is subject to our Privacy Policy. Please make sure
      that you read this.</li>
      <li>This website uses cookies. Please make sure that you read our Cookie
      Policy before using the site.</li>
      <li>This site is our site for you to use but not for you to sell or
      pretend you made.</li>
      </ul>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="about_us">
      <h3>About us</h3>
      <p>We are Owen Bannister Limited, the makers of BulldogClip. Our registered
      office is at 9 Alba Close, Middleleaze, Swindon, Wiltshire, UK. Our company
      number is 08675874.</p>
      <a class="top" href="#top">Back to top</a>
    </div>
      <hr>
    <div class="row spacer" id="acceptance">
      <h3>Acceptance of these Terms</h3>
      <p>By using the site you are agreeing to these Terms of Use and any
      policies we have, all together called our ‘Terms’. If you do not agree
      to these Terms, you must not access or otherwise use the site.</p>
      <a class="top" href="#top">Back to top</a>
    </div>
    <hr>
    <div class="row spacer" id="changes">
      <h3>Changes to these terms</h3>
      <p>We may modify these Terms at any time so please check back regularly.
      Continued use of the site will be deemed as acceptance.</p>
      <a class="top" href="#top">Back to top</a>
    </div>
    <hr>
    <div class="row spacer" id="uses">
      <h3>Uses</h3>
      <p>You can use our website to:</p>
      <ul>
      <li>find out more about our BulldogClip service</li>
      <li>sign up for an account</li>
      <li>sign up for a mailing list if you wish to keep in touch</li>
      <li>access the service if you have subscribed to it.</li>
      </ul>
      <a class="top" href="#top">Back to top</a>
    </div>
    <hr>
    <div class="row spacer" id="account">
      <h3>Your account and password</h3>
      <p>If you sign up you will need to provide a valid email address, which
      will be used as your user name, and a password for security purposes.
      You should treat your password as confidential. If you have any reason to
      believe that it is compromised then you should change it promptly. The 
      password is there to protect the integrity of your data and you are 
      responsible for all changes made by anyone authenticated with your 
      username and password.</p>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="your_data">
      <h3>It is your data</h3>
      <p>All the information stored within a BulldogClip account belongs to you
      and is subject to our Privacy Policy. You have access to create it, edit 
      it and delete it (subject to reasonable system controls to prevent 
      accidental deletion). You may also download a formatted version of it at
      any time. We can offer no warranty as to the validity of the data.</p>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="wrong">
      <h3>Things can go wrong</h3>
      <p>The website or any part of the content may be unavailable sometimes 
      due to maintenance, malfunction or other reasons. We don’t take any 
      responsibility for this and can’t make any promises in relation to the 
      performance of this website.</p>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="viruses">
      <h3>Viruses</h3>
      <p>We do not guarantee that our website will be secure or free from bugs
      or viruses but we use reasonable endeavours to minimise the risk of 
      introducing bugs or viruses to your systems.</p>

      <p>You are responsible for configuring your information technology, 
      computer programmes and platform in order to access our website and any
      materials or software available on it. You should use your own virus 
      protection software.</p>

      <p>You must not misuse our website by knowingly introducing viruses,
      trojans, worms, logic bombs or other material which is malicious or
      technologically harmful. You must not attempt to gain unauthorised access
      to our website, the servers on which our website is stored or any server,
      computer or database connected to our website. You must not attack our
      site via a denial-of-service attack or a distributed denial-of service
      attack. By breaching this provision, you would commit a criminal offence
      under the Computer Misuse Act 1990. We may report any such breach to the
      relevant law enforcement authorities and we will co-operate with those
      authorities by disclosing your identity to them. In the event of such a
      breach, your right to use our website will cease immediately.</p>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="liability">
      <h3>Our liability to you</h3>
      <p>The website, including the elements accessible only to subscribers,
      is provided on an ‘as-is’ basis and we have no liability for any damage
      caused by errors or omissions in any information provided to you in 
      connection with your use of the website except as set out below.</p>

      <p>All promises, representations, conditions and all other terms of any
      kind whatsoever implied by statute or common law are, to the fullest
      extent permitted by applicable law, excluded from our agreement with 
      you and these Terms.</p>

      <p>Nothing in our Terms shall limit or exclude liability for death or
      personal injury resulting from our negligence, fraud or any other
      liability that cannot be excluded or limited by English Law or affect
      any rights that you may have as a consumer.</p>

      <p>Under no circumstances will Owen Bannister Limited (or its employees,
      agents and sub-contractors, or member of its group and third parties
      connected to the group) be liable to you for any costs, damages, claims,
      actual or alleged indirect loss or consequential loss however arising
      suffered by you, including, but not limited to, loss of profits, loss or
      corruption of data, savings, business or opportunity, reputation or any
      other sort of economic loss.</p>

      <p>Our maximum aggregate liability in contract, tort, or otherwise
      (including any liability for any negligent act or omission) arising out
      of or in connection with the performance of its obligations under these
      Terms in respect of any one or more incidents or occurrences shall be 
      limited to £10.</p>
      <a class="top" href="#top">Back to top</a>
    </div>

    <hr>
    <div class="row spacer" id="law">
      <h3>Governing Law</h3>
      <p>These Terms and any disputes about them will be governed by the laws of England and the courts of England shall have exclusive jurisdiction as regards any claim, dispute or matter related to these Terms or the website.</p>
    </div>
    <a class="top" href="#top">Back to top</a>
    </div><!-- end div col-sm-7-->
    </div>
  </div><!--end page content container -->
</div><!--end container -->