
// Input Buttons

input[type="button"].std-btn, input[type="submit"].std-btn, input[type="reset"].std-btn {
-webkit-appearance: none;
-webkit-user-select: none;
white-space: pre;
// -webkit-background-clip: none;
// -webkit-background-origin: none;
// -webkit-background-size: none;
}


// INFO BUTTON
.info-btn {
  max-width: 26px;
  max-height: 26px;
  margin-right: 0px;
  margin-top: 17px;
  float: right;
  // float: right;
    // display: inline-block;
}

.info-btn.form-btn {
  max-width: 26px;
  max-height: 26px;
  margin-right: 0px;
  margin-top: 17px;
  float: right;
  float: right;
  display: inline-block;
}

img.info-img {
  vertical-align: top;
  max-width: 26px;
  max-height: 26px;
}

a.info-btn {
  margin: 17px 0px;
  // display: block;
}

// Moves arrow to top of popover box
.popover.left .arrow {
  top: 10%;
}
// moves popover down page
.popover {
  top: 90px !important;
}


// BUTTON COLOURS

 // green
a.create-btn, input.create-btn {
  border: #008418 2px solid;
  color: #008418;
}

// blue
a.action-btn, input.action-btn {
  border: #2056BF 2px solid;
  color: #2056BF;
}

// red
a.warn-btn, input.warn-btn {
  border: #D82410 2px solid;
  color: #D82410;
}

// purple
a.export-btn, input.export-btn {
  border: #890086 2px solid;
  color: #890086;
}

// GENERIC BUTTON
a.std-btn, input.std-btn {
  // border: #000000 2px solid;
  border-radius: 5px 5px;
  text-align: center;
  // color: #000000;
  padding: 6px 12px;
  font-size: 10pt;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neau', sans-serif;
  display: inline-block;
  // min height required to ensure it doesn't inherit input fields height
  min-height: 34px;
  max-height: 34px;
}


.std-btn:hover, .std-btn:focus, input.std-btn:hover, input.std-btn:focus {
  text-decoration: none;
  background-color: #eeeeee;
  cursor: pointer;
  color: #000000;
}


// ALIGNS INPUT/SUBMIT BUTTONS WITH STD BTNS
input.std-btn, select.std-btn, button.std-btn {
vertical-align: top; 
}


// REMOVES DARK GREY INHERITED BACKGROUND COLOUR ON INPUT AND SUBMIT BUTTONS
input[type="button"].std-btn, input[type="submit"].std-btn, input[type="reset"].std-btn, button.std-btn {
  background-color: #ffffff;
}

// GIVES GREY HOVER COLOR
input[type="button"].std-btn:hover, input[type="button"].std-btn:focus, input[type="submit"].std-btn:hover, 
input[type="submit"].std-btn:focus, input[type="reset"].std-btn:hover, 
input[type="reset"].std-btn:focus, button.std-btn:hover,button.std-btn:focus {
  background-color: #eeeeee;
}

// REMOVES BLUE FOCUS OUTLINE
input[type="button"].std-btn:hover, input[type="button"].std-btn:focus, input[type="submit"].std-btn:hover, 
input[type="submit"].std-btn:focus, input[type="reset"].std-btn:hover, 
input[type="reset"].std-btn:focus, button.std-btn:hover,button.std-btn:focus {
outline: 0px;
outline-width: 0px;
}
