.sidebar.affix-top {
  position: static;
}
// Input Buttons

input[type="button"].std-btn, input[type="submit"].std-btn, input[type="reset"].std-btn {
-webkit-appearance: none;
-webkit-user-select: none;
white-space: pre;
}


// INFO BUTTON
.info-btn {
  max-width: 26px;
  max-height: 26px;
  margin-right: 0px;
  margin-top: 17px;
  float: right;
}

.info-btn.form-btn {
  max-width: 26px;
  max-height: 26px;
  margin-right: 0px;
  margin-top: 17px;
  float: right;
  float: right;
  display: inline-block;
}

img.info-img {
  vertical-align: top;
  max-width: 26px;
  max-height: 26px;
}

a.info-btn {
  margin: 17px 0px;
  // display: block;
}

// BUTTON COLOURS

 // green
a.create-btn, input.create-btn {
  border: #008418 2px solid;
  color: #008418;
}

a.create-btn:hover, input.create-btn:hover,
a.create-btn:active, input.create-btn:active, 
a.create-btn:focus, input.create-btn:focus  {
  border: #008418 2px solid;
  color: #008418;
  outline: none;
  // background-color: #CCE6D1;
}

// blue  
a.action-btn, input.action-btn {
  border: #2056BF 2px solid;
  color: #2056BF;
}

a.action-btn:hover, input.action-btn:hover,
a.action-btn:active, input.action-btn:active
a.action-btn:focus, input.action-btn:focus, 
input.action-btn.std-btn:active {
  border: #2056BF 2px solid;  
  color: #2056BF;
  outline: none;
  // background-color: #BCCCEC;
}

// red
a.warn-btn, input.warn-btn {
  border: #D82410 2px solid;
  color: #D82410;
}

a.warn-btn:hover, input.warn-btn:hover,
a.warn-btn:active, input.warn-btn:active,
a.warn-btn:focus, input.warn-btn:focus {
  border: #D82410 2px solid;
  color: #D82410;
  outline: none;
}

// purple
a.export-btn, input.export-btn {
  border: #890086 2px solid;
  color: #890086;
}

a.export-btn:hover, input.export-btn:hover,
a.export-btn:active, input.export-btn:active,
a.export-btn:focus, input.export-btn:focus {
  border: #890086 2px solid;
  color: #890086;
  outline: none;
}

// GENERIC BUTTON
a.std-btn, input.std-btn {
  // border: #000000 2px solid;
  border-radius: 5px 5px;
  text-align: center;
  // color: #000000;
  padding: 6px 12px;
  font-size: 10pt;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neau', sans-serif;
  display: inline-block;
  // min height required to ensure it doesn't inherit input fields height
  min-height: 34px;
  max-height: 34px;
}

// Pulls button to right of page, used on reports table
.btn-right, input.std-btn.btn-right {
  float: right;
  margin-right: 20px;
}


// ALIGNS INPUT/SUBMIT BUTTONS WITH STD BTNS
input.std-btn, select.std-btn, button.std-btn {
vertical-align: top; 
}


// REMOVES DARK GREY INHERITED BACKGROUND COLOUR ON INPUT AND SUBMIT BUTTONS
input[type="button"].std-btn, input[type="submit"].std-btn, input[type="reset"].std-btn, button.std-btn {
  background-color: #ffffff;
}

// GIVES GREY HOVER COLOR AND REMOVES BLUE HALO ON BUTTONS
.std-btn:hover, .std-btn:focus, 
input[type="button"].std-btn:hover, input[type="button"].std-btn:focus, input[type="button"].std-btn:active,
input[type="submit"].std-btn:hover, input[type="submit"].std-btn:focus, input[type="submit"].std-btn:active,
input[type="reset"].std-btn:hover, input[type="reset"].std-btn:focus, input[type="reset"].std-btn:active,
input.std-btn:hover, input.std-btn:focus, input.std-btn:active,
select.std-btn:hover, select.std-btn:focus, select.std-btn:active,
button.std-btn:hover, button.std-btn:focus, button.std-btn:active
 {
  text-decoration: none;
  background-color: #eeeeee;
  cursor: pointer;
  // color: #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  // -webkit-box-shadow: 0 1px 1px #90AADF, 0 0 8px #90AADF;
  // box-shadow: 0 1px 1px #90AADF, 0 0 8px #90AADF;
}

// REMOVES BLUE FOCUS OUTLINE
input[type="button"].std-btn:hover, input[type="button"].std-btn:focus, input[type="submit"].std-btn:hover, 
input[type="submit"].std-btn:focus, input[type="reset"].std-btn:hover, 
input[type="reset"].std-btn:focus, button.std-btn:hover,button.std-btn:focus {
outline: 0px;
outline-width: 0px;
}
