// base font size and style
html {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.428571429;
  color: #444;
  background-color: #fff; }

body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #444;
  background-color: #fff; 
}

// LANDING PAGE PARA FONT

.landing-info p {
  font-size: 1.75rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 3rem;
  color: #000;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.contact-page p{
  font-size: 1.75rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 3rem;
  color: #000;
  text-align: center;
  padding: 10px 0px;
}

.story-info p {
  font-size: 1.75rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 3rem;
  color: #000;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.demo-info p {
  font-size: 1.75rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 3rem;
  color: #000;
  text-align: left;
  padding: 20px 0px 10px 0px;
}

.demo-info li {
  font-size: 1.75rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 3rem;
  color: #000;
  text-align: left;
  padding: 10px 0px 0px 0px;
}

.demo-info h2 {
  font-size: 2.25rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.5rem;
  color: #000;
  text-align: left;
  padding: 0 0 5px 0;
}

// LANDING PAGE STRAPLINE

h1.strapline {
  font-family: 'ubuntu', Arial, sans-serif;
  text-align: center;
  font-size: 3.5rem;
  display: block;
  padding: 10px 0;
}

// h1.strapline {
//   font-family: 'architects_daughter', Arial, sans-serif;
//   text-align: center;
//   font-size: 4rem;
//   // margin: 0 auto;
//   display: block;
//   padding: 0em 0.5rem;
// }

// LANDING PAGE TITLES
.landing-info h2 {
  font-size: 3.5rem;
  font-weight: 400;
  // font-family: 'ubuntu', Arial, sans-serif;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 4rem;
  color: #000;
  text-align: center;
  padding-top: 40px;
  padding-left: 0px;
}

// INFO PAGE TEXT
.info-page p {
  font-size: 1.75rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.5rem;
  color: #000;
  text-align: left; 
}

h1.info-page, .info-page h1, .contact-page h1, .demo-info h1{
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 4rem;
  color: #000;
  text-align: center;
  display: block;
}

h1.info-menu-page, .info-menu-page h1 {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 4rem;
  color: #000;
  text-align: left;
  display: block;
  padding: 0rem;
}

.info-page h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 3rem;
  color: #000;
  text-align: left;
  padding: 10px 0px;
}

.contact-page h2 {
  font-size: 2.25rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.5rem;
  color: #000;
  text-align: left;
  padding: 0 0 5px 0;
}


.info-page h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.25rem;
  color: #000;
  text-align: left;
  padding: 10px 0px;
}

.info-page li {
  font-size: 1.75rem;
  font-weight: 300;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.5rem;
  color: #000;
  text-align: left; 
}

// back to top links
.info-page a {
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.25rem;
  color: #000;
  text-align: left; 
}

// sidenav title
.info-page dt {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2rem;
  color: #000;
  text-align: left; 
  padding: 10px 0px 5px 0px;
}

// sidenav
.info-page dd > a {
  font-size: 1.25rem;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.25rem;
  color: #000;
  text-align: left; 
}

// page headings and panel headings
h1 {
font-family: 'Source Sans Pro', Arial, sans-serif;
color: #000;
font-weight: 700;
font-size: 2.4rem;
margin-top: 14px; 
margin-bottom: 1.5rem;
display: inline-block;
}


// table contents and headers

th {
font-size: 1.2rem;
font-family: Arial, sans-serif;
font-weight: 700;
color: #000;
}

td {
font-size: 1.2rem;
font-family: Arial, sans-serif;
font-weight: 400;
color: #444;
}

td > p {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #444;
}


// table filter headers invoice and analysis pages
h2.filter {
font-size: 1.5rem;
color: #000;
font-weight: 700;
font-family: Arial, sans-serif;
padding-bottom: 15px;
padding-top: 5px;
}

// styles text fields once text has been added
.form-control, textarea, input, span {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
}


// placeholder text 
::input-placeholder {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}

input::-moz-placeholder {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}
.select2-default {
  color: #999 !important;
}

input:-moz-placeholder {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}

input:-ms-input-placeholder {
  font-size: 1.2 rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}


::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}

// makes dropdown placeholder same colour as others 
// but also makes everything in dropdown menu that colour too
span.select2-chosen { 
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
 {
  color: #000;
  font-weight: 700;
  font-family: Arial, sans-serif;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #000;
  font-weight: 700;
  font-family: Arial, sans-serif;  
}

p.help-block {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #CC0000;   
}

// new bill modal header

h4.modal-title {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  // margin-top: 1.4rem;
  // margin-bottom: 1.5rem;
  display: inline-block;
}

.close {
  font-size: 1.8rem;
}

// links within faq text
a.faq-link {
  font-size: 1.75rem;
  // font-style: italic;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.25rem;
  color: #2056BF;
  // color: #000;
  text-decoration: underline;
}

// links to features page read more
a.read-more {
  font-size: 1.5rem;
  // font-style: italic;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.25rem;
  color: #2056BF;
  // color: #000;
  text-decoration: underline;  
}

// POPOVER STYLING
ul.info-ul {
  list-style-type: none;
  color: #000;
  padding-left: 10px;
  display: block;
list-style-type: square;
-webkit-margin-before: 1rem;
-webkit-margin-after: 0rem;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 10px;
padding-bottom: 5px;
}

ul.info-ul > li{
padding-bottom: 5px;
}

// popover text

.popover-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2rem;
  color: #000;
  text-align: left; 
  margin: 0px 0px 0px 0px;
}

.popover-content {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 2.25rem;
  color: #000;
  text-align: left; 
  text-decoration: none;
}

