// LANDING PAGE PARA FONT

.landing-info p, .contact-page p{
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: center;
}

// Landing page strapline
h1.strapline {
  font-family: 'Source Sans Pro', serif;
  text-align: center;
  // max-height: 500px;
  font-size: 4em;
  // margin: 0 auto;
  display: block;
  padding: 0em 0.5em;
}

// LANDING PAGE TITLES
.landing-info h2 {
  font-size: 3em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.25em;
  color: #000;
  text-align: center;
}

// INFO PAGE TEXT
.info-page p {
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: left;
}

.info-page h2,  .contact-page h2{
  font-size: 3em;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.25em;
  color: #000;
  text-align: center;
}

.info-page h3 {
  font-size: 2em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.25em;
  color: #000;
  text-align: left;
}

.info-page li {
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: left; 
}

.info-page a {
  font-size: 1em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: left; 
}

h1.info-page {
  font-family: 'Source Sans Pro', serif;
  text-align: center;
  // max-height: 500px;
  font-size: 4em;
  // margin: 0 auto;
  display: block;
  padding: 0em 0.5em;
}

.info-page dl {
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: left; 
}

.info-page dt {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: left; 
}

.info-page dd {
  font-size: 0.75em;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  text-align: left; 
}


// base font size and style
html, body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  // font-size: 1em;
  line-height: 1.428571429;
  color: #444;
  background-color: white; }


// page headings and panel headings
h1 {
font-family: 'Source Sans Pro', Arial, sans-serif;
color: #000;
font-weight: 700;
font-size: 24px;
margin-bottom: 15px;
display: inline-block;
}


// table contents and headers

th {
font-size: 13px;
font-family: Arial, sans-serif;
font-weight: 700;
color: #000;
}

td {
font-size: 13px;
font-family: Arial, sans-serif;
font-weight: 400;
color: #444;
}

td > p {
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #444;
}


// styles text fields once text has been added
.form-control, textarea, input, span {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  // color: #444;
}


// placeholder text 
::input-placeholder {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}

input::-moz-placeholder {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}
.select2-default {
  color: #999 !important;
}


input:-moz-placeholder {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}

input:-ms-input-placeholder {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}


::-webkit-input-placeholder {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #87878A;
}

// input[placeholder] {
//   font-size: 12px;
//   font-family: Arial, sans-serif;
//   font-weight: 400;
//   color: #87878A;  
// }

// makes dropdown placeholder same colour as others 
// but also makes everything in dropdown menu that colour too
span.select2-chosen { 
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  // color: #87878A;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
 {
  color: #000;
  font-weight: 700;
  font-family: Arial, sans-serif;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #000;
  font-weight: 700;
  font-family: Arial, sans-serif;  
}




p.help-block {
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #D82410;   
}