// base font size and style
html {
  font-family: $ubuntu;
  font-size: 62.5%;
  line-height: 1.428571429;
  color: $black;
  background-color: $white;
}

body {
  font-family: $ubuntu;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $black;
  background-color: $white;
}



// LANDING PAGE 

// Landing page strapline

h1.strapline {
  text-align: center;
  font-size: $landing-head-size;
  display: block;
  padding: 10px 0;
  font-weight: $regular;
}

// Landing page titles
.landing-info h2 {
  font-size: $landing-head-size;
  font-weight: $regular;
  line-height: 4rem;
  text-align: center;
  padding-top: 40px;
  padding-left: 0px;
}

// Landing page paras
.landing-info p {
  font-size: $external-para-size;
  font-weight: $light;
  line-height: 3rem;
  text-align: center;
  padding: 0px 0px 20px 0px;
}


// INFO PAGES

// headings
h1.info-page,
.info-page h1,
.contact-page h1,
.demo-info h1,
h1.info-menu-page {
  font-size: $external-page-head-size;
  font-weight: $regular;
  line-height: 4rem;
}

h1.info-page,
.info-page h1,
.contact-page h1,
.demo-info h1 {
  text-align: center;
  display: block;
}

// Headings on pages with sidenavs
h1.info-menu-page {
  text-align: left;
  display: block;
  padding: 0rem;
}


// Subheadings
.demo-info h2,
.contact-page h2 {
  font-size: $external-panel-head;
  font-weight: $regular;
  line-height: 2.5rem;
  text-align: center;
  padding: 5px 0 10px 0;
}

.info-page h3 {
  font-size: $external-page-sub-head-size;
  font-weight: $regular;
  line-height: 2.25rem;
  text-align: left;
  padding: 10px 0px;
}

// MAY NOT BE IN USE
// .info-page h2 {
//   font-weight: $regular;
//   text-align: left;
//   padding: 10px 0px;
// }


// Content
.info-page p,
.contact-page p,
.story-info p,
.demo-info p,
.demo-info li,
.info-page li {
  font-size: $external-para-size;
  font-weight: $light;
  line-height: $external-para-height;
}

.info-page p,
.info-page li,
.demo-info p,
.demo-info li{
  text-align: left;
}

.contact-page p,
.story-info p {
  text-align: center;
  padding: 10px 0px;
}

// back to top links
.info-page a.top {
  font-size: $back-to-top-size;
  font-weight: $light;
  line-height: 1.25rem;
  color: $black;
  text-align: left;
}

// sidenav title
.info-page dt,
.info-page dt > a {
  font-size: $external-sidenav-head-size;
  font-weight: $regular;
  line-height: 2.5rem;
  color: $black;
  text-align: left;
  padding: 5px 0px 0px 0px;
}

// sidenav
.info-page dd > a {
  font-size: $external-sidenav-size;
  font-weight: $light;
  line-height: 2.25rem;
  color: $black;
  text-align: left;
}


// INTERNAL SITE FONT STYLES

// FIRST SIGN IN MODAL
.first_sign_in p {
  font-size: $modal-para-size;
  font-weight: $light;
  line-height: 2.5rem;
}

// Internal page headings and panel headings
h1 {
font-weight: $bold;
font-size: $internal-page-head-size;
margin-top: 1.2rem;
margin-bottom: 1.5rem;
display: inline-block;
}

h2 {
font-weight: $bold;
// font-size: 1.4rem;
}

h3 {
font-weight: $regular;
// font-size: 1.2rem;
}


// TABLES 

// table contents and headers
th {
font-size: $th-size;
font-family: $arial;
font-weight: $bold;
}

td {
font-size: $td-size;
font-family: $arial;
font-weight: $regular;
color: #444;
}

td > p {
  font-size: $td-size; // font size was 1.3rem
  font-family: $arial;
  font-weight: $regular;
  color: #444;
}


// table filter headers invoice and analysis pages
h2.filter {
font-size: $form-description-size;
font-weight: $bold;
font-family: $arial;
padding-bottom: 15px;
padding-top: 5px;
}

// styles text fields once text has been added
.form-control, textarea, input, span {
  font-size: $placeholder-size;
  font-family: $arial;
  font-weight: $regular;
}


// placeholder text 
::input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
::-webkit-input-placeholder {
  font-size: $placeholder-size;
  font-family: $arial;
  font-weight: $regular;
  color: $md-grey;
}

.select2-default {
  color: #999 !important;
}

select > option {
  font-size: $placeholder-size;
  font-family: $arial;
  font-weight: $regular;
}
// makes dropdown placeholder same colour as others 
// but also makes everything in dropdown menu that colour too
span.select2-chosen { 
  font-size: $placeholder-size;
  font-family: $arial;
  font-weight: $regular;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
 {
  color: $black;
  font-weight: $bold;
  font-family: $arial;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  // color: $black;
  font-weight: $bold;
  font-family: $arial;
}

p.help-block {
  font-size: $placeholder-size;
  font-family: $arial;
  font-weight: $regular;
  color: $red;
}

// MODAL HEADER SIZE

.modal-title {
  font-weight: $bold;
  font-size: $modal-title-size;
  line-height: 3rem;
  display: inline-block;
}

// h4.modal-title {
//   font-weight: $bold;
//   font-size: $modal-title-size;
//   line-height: 3rem;
//   display: inline-block;
// }


// CLOSE MODAL X
.close, .close span,  {
  font-size: 2rem;
}


// links within faq text
a.faq-link {
  font-size: $external-links-size;
  font-weight: $light;
  line-height: 2.75rem;
  color: $blue;
  text-decoration: underline;
}

// links to features page read more
a.read-more {
  font-size: $external-links-size;
  font-weight: $light;
  line-height: 2.75rem;
  color: $blue;
  text-decoration: underline;
}

// sign up confirmation form
h2.form-h2 {
  font-size: 1.5rem;
  font-weight: $bold;
  font-family: $arial;
  padding-bottom: 15px;
  padding-top: 5px;
}

// small print on sign up form
// p.small-print {
//   font-family: $arial;
//   font-size: 1.1rem;
//   line-height: 1.5rem;
//   color: #444;
// }


table.account-details > tbody > tr > td.td-name {
font-size: 1.3rem;
font-weight: $bold;
line-height: 2rem;
}

label {
font-weight: $bold;
font-size: $form-label-size;
margin: 5px 0px 5px 0px;
}

// POPOVER STYLING
ul.info-ul {
  list-style-type: none;
  padding-left: 10px;
  display: block;
list-style-type: square;
-webkit-margin-before: 1rem;
-webkit-margin-after: 0rem;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 10px;
padding-bottom: 5px;
}

ul.info-ul > li{
padding-bottom: 5px;
}

// popover text

.popover-title {
  font-size: 1.5rem;
  font-weight: $bold;
  line-height: 2rem;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.popover-content {
  font-size: 1.25rem;
  font-weight: $regular;
  line-height: 2.25rem;
  text-align: left;
  text-decoration: none;
}

// form sub headings eg invoice setup form
h2.form-sub-head {
  font-weight: $bold;
  font-size: $form-sub-title-size;
  margin: 10px 0px 10px 0px;
}

// HELP PAGES
.help-page h1 {
  font-size: $external-page-head-size;
  font-weight: $regular;
  line-height: 4rem;
  text-align: center;
  display: block;
}

.help-page h2 {
  font-size: 2.5rem;
  font-weight: $regular;
  line-height: 3rem;
  text-align: left;
  padding: 10px 0px;
}

.help-page li {
  font-size: $external-para-size;
  line-height: 2.25rem;
  padding: 10px 0px;
}

ul.nav-pills > li {
  font-size: $external-links-size;
  line-height: 2.25rem;
  padding: 0px 0px;
}

ul.nav-stacked > li > a:hover {
 color: $white;
 background-color: $pill-blue;
 // background-color: $blue;
}

// PLANS PAGE TEXT
.plans {
  h1 {
  font-size: $external-page-head-size;
  font-weight: $regular;
  line-height: 4rem;
  text-align: center;
  display: block;
  padding: 0rem;
  }
  h2 {
  font-size: 3.5rem;
  font-weight: $bold;
  text-align: center;
  margin: 10px 0px;
  }
  p.details {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin: 10px 0px 10px;
  }
  ul {
    padding-left: 0px;
  }
  li {
  font-size: 1.5rem;
  padding: 5px 0px;
  margin-top: 5px;
  list-style-type: none;
  }
  h3 {
  font-size: 2.5rem;
  font-weight: $bold;
  text-align: center;
  margin: 10px 0px 10px 0px;   
  }

  div.ticklist {
  text-align: center;
  margin: 10px 0px;
  }

  div.ticklist professional {
    margin-top: 20px;
  }

  h3 small {
  color: $black;
}
}

