.analysis > div.select2-container {
  margin-bottom: 10px;
}

// SIGNIN MODAL
.checkbox.remember-me input[type="checkbox"] {
  margin-left: 5px;
  float:none;
}

.checkbox.remember-me label {
  padding-left: 5px;
}

// STRIPE PAYMENT FORM

// stripe form errors
div.stripe-error {
  color: $error-red;
}

.stripe div.field {
  margin-top: 5px;
}

div.stripe.panel-default {
  overflow: hidden;
}

div.panel-body.stripe {
  padding: 0px 15px;
}

div.panel-body.sensitive {
  // background: #eeeeee;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

div.cvc-exp {
  padding-right: 0px;
}

div.stripe-secure {
  margin: 0px 0px;
  padding: 5px 0px 10px;
  overflow: hidden
}

h1.secure {
  font-size: 3rem;
  margin: 2rem 0 1.5rem;
  text-align: center;
  width: 100%;
}

.stripe div.card-expiration {
  margin-top: 10px;
}

div.cvc {
  float: right;
  padding-right: 15px;
}
div.subscribe {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 0px;
}

input.pay {
  margin: 15px 0px 5px
}

img.stripe-power {
  max-width: 37%;
  // max-width: 108px;
  max-height: 33px;
  display: inline-block;
  vertical-align: baseline;
  margin-top: 5px;
}

img.secure {
  max-height: 26px;
  width: 10%;
  max-width: 26px;
  display: inline-block;
  // vertical-align: text-bottom;
  vertical-align: baseline;
}

p.secure {
  max-width: 50%;
  display: inline-block;
  padding-top: 5px;
}

label.cvc {
  display: block
}

input.cvc {
  display: inline-block;
}

img.cvc {
  display: inline-block;
  padding-left: 5px;
}

div.card-number > label,
div.card-expiration > label {
  display: block;
}

// span.exp-date {
//   font-size: 1.5rem;
// }

// div.card-type > select {
//   display: inline-block;
//   appearance: none;
//   -webkit-appearance: none;
//   background-color: $white;
//   color: #424242;
//   height: 3.25rem;
//   padding: 8px 6px;
//   border-width: 1px;
//   border-color: #444;
// }

// Up and down arrow image background
// div.card-type > select {
// // -moz-appearance:none;
// background-image: asset-url('dropdown_arrow.png');
// background-repeat: no-repeat;
// background-size: 25px 33px;
// background-position: right center;
// height: 100%;
// }

// // Uses mozilla arrow instead of image unable to overwrite
// @-moz-document url-prefix() {
//   div.card-type > select {
//     -moz-appearance: select;
//     text-indent: 0.01px;
//     text-overflow: "";
//     background-image: none !important;
//   }
// }


input.card-number {
  width: 60%;
  display: inline-block;
}

img.cards {
  max-width: 38%;
  max-height: 33px;
  display: inline-block;
}

input.cvc {
  width: 60px;
}

input.expiry-date {
  width: 75px;
}

p.interval {
  text-align: center;
  line-height: 3rem;
}

h3.price {
  font-size: 3.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding-top: 10px;
}

// INVOICES
div.invoice > input.date_picker {
  float: right;
  width: 70%;
  padding-left: 8px;
}


// prevents header forms from overlaying table
div.invoice_header, div.analysis_header {
  float: none;
}

// span.currency-sign {
//   display: inline-block;
//   width: 7%;
//   float: left;
//   padding: 9px 8px;
//   border-top: 1px solid #444;
//   border-bottom: 1px solid #444;
//   border-left: 1px solid #444;
//   // height: 26px;
//   height: 3.25rem;
//   color: #555;
// }

// span.percentage-symbol {
//   display: inline-block;
//   width: 7%;
//   float: right;
//   padding: 9px 6px;
//   border-top: 1px solid #444;
//   border-bottom: 1px solid #444;
//   border-right: 1px solid #444;
//   // height: 26px;
//   height: 3.25rem;
//   color: #555; 
// }

// currency symbol placeholder
input.currency  {
background-image: asset-url('currency_sign.png') !important;
background-repeat: no-repeat;
background-size: 25px 33px;
background-position: left center;
height: 100%;
// font-weight: bold;
padding-left: 28px;
}

input.form-control.currency {
  display: inline-block;
  padding-left: 33px;
}


// percentage symbol placeholder
input.percentage  {
background-image: asset-url('percentage_sign.png') !important;
background-repeat: no-repeat;
background-size: 25px 33px;
background-position: right center;
height: 100%;
}

input.form-control.percentage  {
  display: inline-block;
  // float: left;
  padding-right: 33px;
}

input.date_picker.analysis {
  padding-left: 5px;
}

// div.ui-datepicker.ui-widget.ui-widget-content {

//   z-index: 1051;
// }


table.account-details > tbody > tr > td.td-content {
  width: 70%;
  vertical-align: top;
}



table.account-details > tbody > tr > td.td-content {
  width: 70%;
  vertical-align: top;
}


// resend confirmation email
div.confirmation-error > form >div.form-group {
  margin: 20px 0px 20px 0px;
}

div.confirmation-error > form > p {
  margin-top: 10px; 
}

// forgot password form
div.forgot-pwd > form.new_user > p {
  margin: 10px 0px 20px 0px;
}

div.forgot-pwd > form > div.form-group {
  margin: 15px 0px 30px 0px;
}

// change password form
div.change-pwd > form > div.form-group {
  margin: 0px 0px 20px 0px;
}

// sign up form 
// div.signup-form > form > div.control-group > div.form-group {
//   margin: 15px 0px 30px 0px;
// }

// div.signup-form > form > p {
//   margin: 10px 0px 0px 0px;
// }

// div.signup-form > form > p.small-print {

//   margin: 20px 0px 20px 0px;
// }

// activate account form
div.activate-form > form >div.form-group {
  margin: 0px 0px 20px 0px;
}

div.activate-form > form {
  margin: 5px 0px 0px 0px;
}

// styles form labels
label {
  font-weight: 600;
  font-family: $ubuntu;
  font-size: 1.3rem;
  margin: 5px 0px 5px 0px;
}

div.form-group > a.pull-right {
  padding-top: 5px;
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

// sets dropdown menu border color to blue
.select2-drop .select2-display-none .select2-with-searchbox .select2-drop-active {
  border-color: $blue;
}


// removes grey halo on focus
:focus {
outline: none;
}

th>a {
  color: $black;
  text-decoration: none; }

th>a:hover, th>a:focus {
    color: $black;
    text-decoration: underline; } 

// removes grey outline on focus
a:focus {
  outline: none; }

// MODAL FORM WIDTH
@media (min-width: 768px) {
.modal-dialog {
width: 400px;
margin: 30px auto;
}
}
.modal-footer {
  margin-top: 0px;
  padding: 0px 20px 5px 20px;
  border-top: 0px solid $white;
}

.modal-body {
  padding-bottom: 5px;
}

div.modal-header {
  padding: 15px 20px;
}

// FORM FIELDS BORDERS AND COLOURING

input {
  // height: 26px;
  height: 3.25rem;
}

input, textarea {
  border: 1px solid #444;
  border-radius: 0px;
}

input.search-query {
  border: 1px solid #444;
  border-radius: 0px;
}

// plain text entry fields
.form-control {
  border: 1px solid #444;
  border-radius: 0px;
}

// drop down menu boxes
.select2-container > a.select2-choice {
  border: 1px solid #444;
  border-radius: 0px;
  background-image: none;
  height: 3.25rem;
  line-height: 3.25rem;
  // margin-bottom: 5px; spaces analysis form but adds too much space to select2s with p.helpblocks
}

// drop down box arrow box (arrow itself is an img)
.select2-container > a.select2-choice > span.select2-arrow {
  border-left: 1px solid #444;
  border-radius: 0 0; 
  background-color: $white;
  background-image: none;
  padding-left: 3px;
  padding-top: 3px;
  width: 2.5rem;
}

// background of entry field on selected menu
.select2-dropdown-open > a.select2-choice{
  background-color: $white;
  // color: #444;
}




// GLOW ON CONTAINERS INPUT FIELDS

 // glow or outline on active dropdown menu container
div.select2-drop-active {
  border: 1px solid $blue;
  border-top: none;
}

.select2-chosen {
  // color: #444;
}


.select2-container {
  display: block;
  width: 100%;
}

div.select2-container {
  // margin: 0 0 1% 0;
}

// form field dark blue box shadow on hover, focus, active and visited

div.select2-container:hover,
div.select2-container:focus,
div.select2-container:active,
div.select2-container:visited,
a.select2-choice:hover,
a.select2-choice:focus,
a.select2-choice:active,
a.select2-choice:visited,
.form-control:hover,
.form-control:focus,
.form-control:active,
.form-control:visited,
input:hover,
input:focus,
input:active,
input:visited,
textarea:hover, 
textarea:focus,
textarea:active,
textarea:visited,
.select2-container:hover,
.select2-container:focus,
.select2-container:active,
.select2-container:visited
{
  border-color: #444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  outline: 0px auto #66afe9;
  outline-offset: 0px;
}

// MAKES DROPDOWN SELECT2 FIELDS GLOW BLUE WHEN ACTIVE
.select2-drop-active {
    border: 1px solid #444 !important;
    border-top: none !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #444 !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #444 !important;
    outline: 0 !important;
    outline: 0px auto #66afe9 !important;
    outline-offset: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9 !important;
            box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9 !important;
}


// active item on dropdown menu is highlighted and text is black
ul.select2-results > li.select2-highlighted {
  background: #eee;
  color: #000;
}

// attempts to make selected and placeholder text different colours
// .select2-choice {
// color: red !important; 
// }

// .select2-default {
// color: red !important;
// }


// dropdown 'new' warning set to blue
span.label.label-important {
  color: $blue;
}

// OVERIDES INLINE STYLING TO GIVE 100% WIDTH TO SELECT2-CONTAINERS
div.select2-container {
  width: 100% !important;
}

// gives equal spacing between form fields
div.form-group {
  width: 100%;
  margin-bottom: 5px;
  min-height: 3.25rem;
}

input.date_picker {
  width: 60%;
  height: 3.25rem;
  // height: 26px;
  border: 1px solid #444;
  border-radius: 0px;
}

input.search-query {
  width: 100%;
}

// INVOICE SETTINGS FORM

.input-group {
  z-index: 2;
}

.input-group .form-control{
  width: 70%;
  float: right;
}

label.invoice-settings {
  width: 30%;
}

label.edit-settings.control-label {
  width: 30%;
  float: left;
  padding-left: 0;
  padding-right: 0;
}

form > div > div.edit-settings {
  width: 70%;
  float: right;
  padding-left: 0;
  padding-right: 0;
}

.input-group.name, .input-group.address, .input-group.bank, .input-group.vat-check, .input-group.vat-reg {
  width: 100%;
}

div.include_vat > input[type="checkbox"], div.include_bank > input[type="checkbox"] {
  margin-left: 0px;
}

div.include_vat > input[type="checkbox"]:hover,
div.include_bank > input[type="checkbox"]:hover,
div.logo-upload > input:hover {
  cursor: pointer;
}

.input-group.vat-check > label {
  width: 120px;
}

.input-group.address {
  min-height: 90px;
  max-width: 100%;
}

.input-group.address > textarea {
  min-height: 90px;
  max-width: 100%;
}

div.logo-upload {
  display: inline-block;
  width: 70%;
  float: right;
}

div.current-logo-upload {
  padding: 10px 0 10px;
}

div.logo-upload > input {
  width: 100%;
  border: none;
  margin-top: 5px;
}

// puts space between title and checkbox
input[type="checkbox"] {
  margin-left: 10px;
}

// makes account detail table fill full form field
table.account-details {
  width: 100%;
}

table.account-details > tbody > tr > td.td-name {
  width: 30%;
  vertical-align: top;
}

table.account-details > tbody > tr > td.td-content {
  width: 70%;
  vertical-align: bottom;
}

// account details show form 
td.td-name {
  font-size: 1.3rem;
  // font-family: $ubuntu;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 2rem;
}

td.td-content, td.td-content>p {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 2rem;
  vertical-align: bottom;
}

td.td-content {
  border-bottom: 1px solid #eee;
  border-collapse: separate;
  padding-left: 10px;
}

// Account details edit
label.acct_name {
  width: 90px;
}

input.acct_name.form-control {
  float: none;
  width: 100%;
}

// INVOICE FILTER FORM

.table > thead > tr > td.title {
  font-weight: 600;
  vertical-align: middle;
  text-align: left;
}

.table > thead > tr > td.filter-field {
  vertical-align: middle;
}

td > input.search-query {
  width: 90%;
  line-height: 22px;
  padding: 1px 1px;
  vertical-align: middle;
}

textarea {
  width: 100%;
  max-width: 100%;
}

// date field minimum size width fits date picker drop down
div > input.date_picker.invoice-date-picker {
  max-width: 100%;
  min-width: 100px;
  width: 226px;
  padding-left: 5px;
}

select {
  border: 1px solid #444;
  border-radius: 0;
}

// NEW INVOICE FORM

// styles select customer select2 uses important to overright inline styling
div.customer-select > div.select2-container {
  width: 226px !important; 
  margin-bottom: 0;
  }


// removes webkit styling from customer select 
div.customer-select>select {
  -webkit-appearance: none;
  max-width: 100%;
  min-width: 100px;
  width: 226px;
  padding-left: 5px;
  height: 3.25rem;
}


// STYLE REPORTS FORM

label.analysis {
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
}

div.form-group.analysis {
  clear: right;
}

input.date_picker.analysis {
  display: inline-block;
  float: right;
  width: 70%;
}

input.date_picker.analysis {
  margin-bottom: 10px;
}

// STYLE NEW CUSTOMER FORM

input.name {
  width: 100%;
}

input.postcode {
  width: 60%;
  display: block;
}

div.customer-form > textarea.address {
  min-height: 80px;
  width: 100%;
  max-width: 100%;
}

// error messages
p.help-block {
  color: $error-red;
}



// STYLE FOR CATEGORIES and suppliers

input.category-name, input.supplier-name {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

form.edit_category {
  margin: 10px 0px;
}

div.category-btns {
  display: block;
}

// PAGINATION

// changes colour of pagination
nav.pagination > span > a {
  color: #444;
}

// moves pagination in from side of page
.pagination {
  padding: 10px 0px 5px 10px;
}

// MODAL
input.form-control {
  height: 3.25rem;
}

div.checkbox > input {
height: 15px;
width: 15px;
}

// new bills modal header

div.modal-header > button.close {
  padding-top: 7px;
}

// red border on error fields using errors_for helper
div.field_with_errors>input {
  border-color: $error-red;
}

/* Red border styling for Select2s with errors */
div.has-error ul.select2-choices {
  border-color: $error-red;
}

div.has-error>div.select2-container>a.select2-choice {
  border-color: $error-red; 
}

// aligns placeholder text with select2 placeholders
.form-control {
padding: 6px 8px;
}


// Adds padding above contact form to give space between p and panel
div.contact-page.panel { 
margin-top: 20px;
}

// strikes through line if remove checkbox selected
// .line-through {
//   text-decoration: line-through;
// }

// attempt to make datepicker visible in modal

