.analysis > div.select2-container {
  margin-bottom: 10px;
}

// stripe form errors
div.stripe-error {
  color: #a94442;
}

div.card-expiration > label {
  display: block;
}

div.card-expiration > select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  color: #424242;
  height: 3.25rem;
  padding: 8px 6px;
  border-width: 1px;
  border-color: #444;
}

// Up and down arrow image background
div.card-expiration > select {
background-image: asset-url('dropdown_arrow.png') !important;
background-repeat: no-repeat;
background-size: 25px 33px;
background-position: right center;
height: 100%;
}

// Removes grey arrow from firefox card-expiration fields
@-moz-document url-prefix() {
  div.card-expiration > select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
  }
}

div.card-expiration > select#card_month {
  width: 60%;
}

div.card-expiration > select#card_year {
  width: 38%;
  float: right;
}

div.invoice > input.date_picker {
  float: right;
  width: 70%;
  padding-left: 8px;
}

a.select2-choice:hover,
div.select2-container:hover,
input:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

a.select2-choice:active,
div.select2-container:active,
a.select2-choice:focus,
div.select2-container:focus,
a.select2-choice:visited,
div.select2-container:visited  {
border-color: #444;
-webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9 !important;
box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9 !important;
outline: 0px auto #66afe9 !important;
outline-offset: 0px !important;
}

// span.currency-sign {
//   display: inline-block;
//   width: 7%;
//   float: left;
//   padding: 9px 8px;
//   border-top: 1px solid #444;
//   border-bottom: 1px solid #444;
//   border-left: 1px solid #444;
//   // height: 26px;
//   height: 3.25rem;
//   color: #555;
// }

// span.percentage-symbol {
//   display: inline-block;
//   width: 7%;
//   float: right;
//   padding: 9px 6px;
//   border-top: 1px solid #444;
//   border-bottom: 1px solid #444;
//   border-right: 1px solid #444;
//   // height: 26px;
//   height: 3.25rem;
//   color: #555; 
// }

// currency symbol placeholder
input.currency  {
background-image: asset-url('currency_sign.png') !important;
background-repeat: no-repeat;
background-size: 25px 33px;
background-position: left center;
height: 100%;
// font-weight: bold;
padding-left: 28px;
}

input.form-control.currency {
  display: inline-block;
  padding-left: 33px;
}


// percentage symbol placeholder
input.percentage  {
background-image: asset-url('percentage_sign.png') !important;
background-repeat: no-repeat;
background-size: 25px 33px;
background-position: right center;
height: 100%;
}

input.form-control.percentage  {
  display: inline-block;
  // float: left;
  padding-right: 33px;
}

input.date_picker.analysis {
  padding-left: 5px;
}

// div.ui-datepicker.ui-widget.ui-widget-content {

//   z-index: 1051;
// }


table.account-details > tbody > tr > td.td-content {
  width: 70%;
  vertical-align: top;
}



table.account-details > tbody > tr > td.td-content {
  width: 70%;
  vertical-align: top;
}


// resend confirmation email
div.confirmation-error > form >div.form-group {
  margin: 20px 0px 20px 0px;
}

div.confirmation-error > form > p {
  margin-top: 10px; 
}

// forgot password form
div.forgot-pwd > form.new_user > p {
  margin: 10px 0px 20px 0px;
}

div.forgot-pwd > form > div.form-group {
  margin: 15px 0px 30px 0px;
}

// change password form
div.change-pwd > form > div.form-group {
  margin: 0px 0px 20px 0px;
}

// sign up form 
div.signup-form > form > div.control-group > div.form-group {
  margin: 15px 0px 30px 0px;
}

div.signup-form > form > p {
  margin: 10px 0px 0px 0px;
}

div.signup-form > form > p.small-print {

  margin: 20px 0px 20px 0px;
}

// activate account form
div.activate-form > form >div.form-group {
  margin: 0px 0px 20px 0px;
}

div.activate-form > form {
  margin: 5px 0px 0px 0px;
}

// styles form labels
label {
  font-weight: 600;
  font-family: 'ubuntu', Arial, sans-serif;
  font-size: 1.3rem;
  margin: 5px 0px 5px 0px;
}

div.form-group > a.pull-right {
  padding-top: 5px;
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

// sets dropdown menu border color to blue
.select2-drop .select2-display-none .select2-with-searchbox .select2-drop-active {
  border-color: #2056BF;
}


// removes grey halo on focus
:focus {
outline: none;
}

th>a {
  color: #000000;
  text-decoration: none; }

th>a:hover, th>a:focus {
    color: #000000;
    text-decoration: underline; } 

// removes grey outline on focus
a:focus {
  outline: none; }

// MODAL FORM WIDTH
@media (min-width: 768px) {
.modal-dialog {
width: 400px;
margin: 30px auto;
}
}
.modal-footer {
  margin-top: 0px;
  padding: 0px 20px 5px 20px;
  border-top: 0px solid #ffffff;
}

.modal-body {
  padding-bottom: 5px;
}

div.modal-header {
  padding: 15px 20px;
}

// FORM FIELDS BORDERS AND COLOURING

input {
  // height: 26px;
  height: 3.25rem;
}

input, textarea {
  border: 1px solid #444;
  border-radius: 0px;
}

input.search-query {
  border: 1px solid #444;
  border-radius: 0px;
}

// plain text entry fields
.form-control {
  border: 1px solid #444;
  border-radius: 0px;
}

// drop down menu boxes
.select2-container > a.select2-choice {
  border: 1px solid #444;
  border-radius: 0px;
  background-image: none;
  height: 3.25rem;
  line-height: 3.25rem;
  // margin-bottom: 5px; spaces analysis form but adds too much space to select2s with p.helpblocks
}

// drop down box arrow box (arrow itself is an img)
.select2-container > a.select2-choice > span.select2-arrow {
  border-left: 1px solid #444;
  border-radius: 0 0; 
  background-color: #ffffff;
  background-image: none;
  padding-left: 3px;
  padding-top: 3px;
  width: 2.5rem;
}

// background of entry field on selected menu
.select2-dropdown-open > a.select2-choice{
  background-color: #ffffff;
  // color: #444;
}




// GLOW ON CONTAINERS INPUT FIELDS

 // glow or outline on active dropdown menu container
div.select2-drop-active {
  border: 1px solid #2056BF;
  border-top: none;
}

.select2-chosen {
  // color: #444;
}


.select2-container {
  display: block;
  width: 100%;
}

div.select2-container {
  // margin: 0 0 1% 0;
}

// form field box shadow on hover, focus, active and visited

// div.select2-result-label:hover,
// div.select2-result-label:focus,
// div.select2-result-label:active,
// div.select2-result-label:visited,
div.select2-container:hover,
div.select2-container:focus,
div.select2-container:active,
div.select2-container:visited,
a.select2-choice:hover,
a.select2-choice:focus,
a.select2-choice:active,
a.select2-choice:visited,
.form-control:hover,
.form-control:focus,
.form-control:active,
.form-control:visited,
input:hover,
input:focus,
input:active,
input:visited,
textarea:hover, 
textarea:focus,
textarea:active,
textarea:visited,
.select2-container:hover,
.select2-container:focus,
.select2-container:active,
.select2-container:visited
{
  // border-color: #444;
  // outline: 0;
  // -webkit-box-shadow: 0 1px 1px #90AADF, 0 0 8px #90AADF;
  // box-shadow: 0 1px 1px #90AADF, 0 0 8px #90AADF;
  // outline: 0px auto #90AADF;
  // outline-offset: 0px;
  border-color: #444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  outline: 0px auto #66afe9;
  outline-offset: 0px;
}


// active item on dropdown menu is highlighted and text is black
ul.select2-results > li.select2-highlighted {
  background: #eee;
  color: #000;
}

// attempts to make selected and placeholder text different colours
// .select2-choice {
// color: red !important; 
// }

// .select2-default {
// color: red !important;
// }


// dropdown 'new' warning set to blue
span.label.label-important {
  color: #2056BF;
}

// OVERIDES INLINE STYLING TO GIVE 100% WIDTH TO SELECT2-CONTAINERS
div.select2-container {
  width: 100% !important;
}

// gives equal spacing between form fields
div.form-group {
  width: 100%;
  margin-bottom: 5px;
  min-height: 3.25rem;
}

input.date_picker {
  width: 60%;
  height: 3.25rem;
  // height: 26px;
  border: 1px solid #444;
  border-radius: 0px;
}

input.search-query {
  width: 100%;
}

// INVOICE SETTINGS FORM

.input-group {
  z-index: 2;
}

.input-group .form-control{
  width: 70%;
  float: right;
}

label.invoice-settings {
  width: 30%;
}

label.edit-settings.control-label {
  width: 30%;
  float: left;
  padding-left: 0;
  padding-right: 0;
}

form > div > div.edit-settings {
  width: 70%;
  float: right;
  padding-left: 0;
  padding-right: 0;
}

.input-group.name, .input-group.address, .input-group.bank, .input-group.vat-check, .input-group.vat-reg {
  width: 100%;
}


.input-group.vat-check > checkbox {
  width: 60%;
}

.input-group.vat-check > label {
  width: 40%;
}

.input-group.address {
  min-height: 90px;
  max-width: 100%;
}

.input-group.address > textarea {
  min-height: 90px;
  max-width: 100%;
}

// puts space between title and checkbox
input[type="checkbox"] {
  margin-left: 10px;
}

// makes account detail table fill full form field
table.account-details {
  width: 100%;
}

table.account-details > tbody > tr > td.td-name {
  width: 30%;
  vertical-align: top;
}

table.account-details > tbody > tr > td.td-content {
  width: 70%;
  vertical-align: top;
}

// account details show form 
td.td-name {
  font-size: 1.3rem;
  // font-family: 'ubuntu', Arial, sans-serif;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 2rem;
}

td.td-content, td.td-content>p {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 2rem;
  vertical-align: bottom;
}

td.td-content {
  border-bottom: 1px solid #eee;
  border-collapse: separate;
  padding-left: 10px;
}


// INVOICE FILTER FORM

.table > thead > tr > td.title {
  font-weight: 600;
  vertical-align: middle;
  text-align: left;
}

.table > thead > tr > td.filter-field {
  vertical-align: middle;
}

td > input.search-query {
  width: 90%;
  line-height: 22px;
  padding: 1px 1px;
  vertical-align: middle;
}

textarea {
  width: 100%;
  max-width: 100%;
}

// date field minimum size width fits date picker drop down
div > input.date_picker.invoice-date-picker {
  max-width: 100%;
  min-width: 100px;
  width: 226px;
  padding-left: 5px;
}

select {
  border: 1px solid #444;
  border-radius: 0;
}

// NEW INVOICE FORM

// styles select customer select2 uses important to overright inline styling
div.customer-select > div.select2-container {
  width: 226px !important; 
  margin-bottom: 0;
  }


// removes webkit styling from customer select 
div.customer-select>select {
  -webkit-appearance: none;
  max-width: 100%;
  min-width: 100px;
  width: 226px;
  padding-left: 5px;
  height: 3.25rem;
}


// STYLE REPORTS FORM

label.analysis {
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
}

div.form-group.analysis {
  clear: right;
}

input.date_picker.analysis {
  display: inline-block;
  float: right;
  width: 70%;
}

input.date_picker.analysis {
  margin-bottom: 10px;
}

// STYLE NEW CUSTOMER FORM

input.name {
  width: 100%;
}

input.postcode {
  width: 60%;
}

div.customer-form > textarea.address {
  min-height: 80px;
  width: 100%;
  max-width: 100%;
}

// gives spacing between form fields (must match div.formgroup margin bottom) and colours outline red, display:inline-block keeps message on one line
p.help-block {
  // margin: 0px 0px 5px 5px;
  color: #a94442;
  // display: inline-block;  
}



// STYLE FOR CATEGORIES and suppliers

input.category-name, input.supplier-name {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

form.edit_category {
  margin: 10px 0px;
}

div.category-btns {
  display: block;
}

// PAGINATION

// changes colour of pagination
nav.pagination > span > a {
  color: #444;
}

// moves pagination in from side of page
.pagination {
  padding: 10px 0px 5px 10px;
}

// MODAL
input.form-control {
  height: 3.25rem;
}

div.checkbox > input {
height: 15px;
width: 15px;
}

// new bills modal header

div.modal-header > button.close {
  padding-top: 7px;
}

// red border on error fields using errors_for helper
div.field_with_errors>input {
  border-color: #a94442;
}

/* Red border styling for Select2s with errors */
div.has-error ul.select2-choices {
  border-color: #a94442;
}

div.has-error>div.select2-container>a.select2-choice {
  border-color: #a94442; 
}

// remove grey box shadow
.select2-drop, 
.select2-drop.select2-drop-above, 
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi .select2-choices .select2-search-choice {
  -webkit-box-shadow: none;
  box-shadow: none;  
}

// aligns placeholder text with select2 placeholders
.form-control {
padding: 6px 8px;
}


// Adds padding above contact form to give space between p and panel
div.contact-page.panel { 
margin-top: 20px;
}

// strikes through line if remove checkbox selected
// .line-through {
//   text-decoration: line-through;
// }

// attempt to make datepicker visible in modal

