// table contents
// tbody > tr > td {
// font-size: 18px;
// font-family: 'Source Sans Pro', Arial, sans-serif;
// font-weight: 400;
// }

// p {
//   font-size: 12px;
//   font-family: 'Source Sans Pro', Arial, sans-serif;
//   font-weight: 400;
// }

th>a {
  color: #000000;
  text-decoration: none; }
  a:hover, a:focus {
    color: #000000;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
    

// MODAL FORM WIDTH
@media (min-width: 768px) {
.modal-dialog {
width: 400px;
margin: 30px auto;
}
}
.modal-footer {
  margin-top: 0px;
  padding: 15px 20px 10px 20px;
  border-top: 0px solid #ffffff;
}

.modal-body {
  padding-bottom: 5px;
}

// FORM FIELDS BORDERS AND COLOURING

input {
  height: 26px;
}

input, textarea {
  border: 1px solid #444;
  border-radius: 0px;
}

input.search-query {
  border: 1px solid #444;
  border-radius: 0px;
}

// plain text entry fields
.form-control {
  border: 1px solid #444;
  border-radius: 0px;
}

// drop down menu boxes
.select2-container > a.select2-choice {
  border: 1px solid #444;
  border-radius: 0px;
  background-image: none;
}

// drop down box arrow box (arrow itself is an img)
.select2-container > a.select2-choice > span.select2-arrow {
  border-left: 1px solid #444;
  border-radius: 0 0; 
  // background: #E9E9E9; grey version
  background-color: #ffffff;
  background-image: none;
  // color: #444;
// background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
}

// background of entry field on selected menu
.select2-dropdown-open > a.select2-choice{
  background-color: #ffffff;
  // color: #444;
}




// GLOW ON CONTAINERS INPUT FIELDS

 // glow or outline on active dropdown menu container
div.select2-drop-active {
  border: 1px solid #66afe9;
  border-top: none;
}

.select2-chosen {
  // color: #444;
}


.select2-container {
  display: block;
  width: 100%;
}

div.select2-container {
  margin: 0 0 1% 0;
}

// hover, focus, active and visited states
//  div.select2-result-label:focus, div.select2-result-label:hover, 
//  div.select2-result-label:active, div.select2-result-label:visited, 
//  div.select2-container:focus, div.select2-container:hover, 
//  div.select2-container:active, div.select2-container:visited,
//  a.select2-choice:focus, a.select2-choice:hover, 
//  a.select2-choice:active, a.select2-choice:visited, 
// .form-control:focus, input:focus, .select2-container:focus,
// .form-control:hover, input:hover, .select2-container:hover, 
// .form-control:active, input:active, .select2-container:active, 
// textarea:focus, textarea:hover, textarea:active, 
// {
  // border-color: #444;
  // outline: 0;
  // -webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  // box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  // outline: 0px auto #66afe9;
  // outline-offset: 0px;
//     border-color: #444;
//   outline: 0;
//   -webkit-box-shadow: 0 1px 1px #66afe9, 0 0 8px #66afe9;
//   box-shadow: 0 1px 1px #66afe9, 0 0 8px #66afe9;
//   outline: 0px auto #66afe9;
//   outline-offset: 0px;
// }


 div.select2-result-label:focus,
 div.select2-result-label:active, div.select2-result-label:visited, 
 div.select2-container:focus, 
 div.select2-container:active, div.select2-container:visited,
 a.select2-choice:focus,
 a.select2-choice:active, a.select2-choice:visited, 
.form-control:focus, input:focus, .select2-container:focus,
.form-control:active, input:active, .select2-container:active, 
textarea:focus, textarea:active, 
{
  // border-color: #444;
  // outline: 0;
  // -webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  // box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  // outline: 0px auto #66afe9;
  // outline-offset: 0px;
    border-color: #444;
  outline: 0;
  -webkit-box-shadow: 0 1px 1px #66afe9, 0 0 8px #66afe9;
  box-shadow: 0 1px 1px #66afe9, 0 0 8px #66afe9;
  outline: 0px auto #66afe9;
  outline-offset: 0px;
}

div.select2-result-label:hover, div.select2-container:hover, a.select2-choice:hover, 
.form-control:hover, input:hover, .select2-container:hover, 
textarea:hover
{
  // border-color: #444;
  // outline: 0;
  // -webkit-box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  // box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
  // outline: 0px auto #66afe9;
  // outline-offset: 0px;
    border-color: #444;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0px auto #66afe9;
  outline-offset: 0px;
}


// active item on dropdown menu is highlighted and text is black
ul.select2-results > li.select2-highlighted {
  background: #eee;
  color: #000;
}

// attempts to make selected and placeholder text different colours
// .select2-choice {
// color: red !important; 
// }

// .select2-default {
// color: red !important;
// }


// dropdown 'new' warning set to blue
span.label.label-important {
  color: #2056BF;
}

// OVERIDES INLINE STYLING TO GIVE 100% WIDTH TO SELECT2-CONTAINERS
div.select2-container {
  width: 100% !important;
}

div.form-group {
  width: 100%;
}

input.date_picker {
  width: 60%;
  height: 26px;
  border: 1px solid #444;
  border-radius: 0px;
}

input.search-query {
  width: 100%;
}

// ACCOUNT DETAILS FORM
.input-group.name, .input-group.address, .input-group.bank,  {
  width: 100%;
}

.input-group.postcode  {
  width: 60%;
}

.input-group.address > textarea.address {
  min-height: 90px;
  max-width: 100%;
}

input[type="checkbox"] {
  margin: 4px 0 0 4px;
}

// makes account detail table fill full form field
table.account-details {
  width: 100%;
}

table.account-details > tbody > tr > td.td-name {
  width: 40%;
  vertical-align: top;
}

table.account-details > tbody > tr > td.td-content {
  width: 60%;
  vertical-align: top;
}



// INVOICE FILTER FORM

.table > thead > tr > td.title {
  font-weight: 600;
  vertical-align: middle;
  text-align: left;
}

.table > thead > tr > td.filter-field {
  vertical-align: middle;
}

td > input.search-query {
  width: 90%;
  line-height: 22px;
  padding: 1px 1px;
  vertical-align: middle;
}

textarea {
  width: 100%;
  max-width: 100%;
}

// date field minimum size width fits date picker drop down
div > input.date_picker.invoice-date-picker {
  max-width: 100%;
  min-width: 100px;
  width: 226px;
  padding-left: 5px;
}

select {
  border: 1px solid #444;
  border-radius: 0;
}

// NEW INVOICE FORM

// styles select customer select2 uses important to overright inline styling
div.customer-select > div.select2-container {
  width: 226px !important; 
  margin-bottom: 0;
  }


// removes webkit styling from customer select 
div.customer-select>select {
  -webkit-appearance: none;
  max-width: 100%;
  min-width: 100px;
  width: 226px;
  padding-left: 5px;
  height: 26px;
}


// STYLE REPORTS FORM

label.analysis {
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
}

div.form-group.analysis {
  clear: right;
}

input.date_picker.analysis {
  display: inline-block;
  float: right;
  width: 70%;
}

input.date_picker.analysis, div.select2-container.analysis {
  margin-bottom: 5px;
}

// STYLE NEW CUSTOMER FORM

input.name {
  width: 100%;
}

// textarea.address {
//   width: 100%;
//   max-width: 100%;
// }

input.postcode {
  width: 60%;
}

div.customer-form > textarea.address {
  min-height: 80px;
  width: 100%;
  max-width: 100%;
}

p.help-block {
  margin: 5px 0px;
}

// STYLE FOR CATEGORIES 

input.category-name {
  width: 100%;
  margin-bottom: 10px;
}

form.edit_category {
  margin: 10px 0px;
}

div.category-btns {
  display: block;
}

// PAGINATION

// changes colour of pagination
nav.pagination > span > a {
  color: #444;
}

// moves pagination in from side of page
.pagination {
  padding-left: 5px;
}

// MODAL
input.form-control {
  height: 26px;
}

div.checkbox > input {
height: 15px;
}

// ERRORS
.has-error .form-control {
// border-color: #a94442;
border-color: #444;
}
