/*TEXT*/

h1, h2 {
  font-family: $font-sans-serif;
  color: $accent-color;
}

h3, p {
  font-family: $font-sans-serif;
  color: $text-color;
}


//Para Text Resize Responsively
@media(max-width: $screen-xs){
  p {font-size: 12px} //12px when screen is below 480px
}
@media(min-width: $screen-xs){
  p {font-size: 12px} //12px when screen is below 768px
}
@media(min-width: $screen-sm){
  p {font-size: 14px} //14px when screen is below 992px
  }    
@media(min-width: $screen-md){
  p {font-size: 16px} //16px when screen is below 1200px
  }    
@media(min-width: $screen-lg){
  p {font-size: 18px} //18px when screen is above 1200px
  } 

//H1 text resize
@media(max-width: $screen-xs){
  h1 {font-size: 16px} //12px when screen is below 480px
}
@media(min-width: $screen-xs){
  h1 {font-size: 22px} //12px when screen is below 768px
}
@media(min-width: $screen-sm){
  h1 {font-size: 30px} //14px when screen is below 992px
  }    
@media(min-width: $screen-md){
  h1 {font-size: 36px} //16px when screen is below 1200px
  }    
@media(min-width: $screen-lg){
  h1 {font-size: 40px} //18px when screen is above 1200px
  } 

//H2 text resize
@media(max-width: $screen-xs){
  h2 {font-size: 16px} //12px when screen is below 480px
}
@media(min-width: $screen-xs){
  h2 {font-size: 20px} //12px when screen is below 768px
}
@media(min-width: $screen-sm){
  h2 {font-size: 24px} //14px when screen is below 992px
  }    
@media(min-width: $screen-md){
  h2 {font-size: 28px} //16px when screen is below 1200px
  }    
@media(min-width: $screen-lg){
  h2 {font-size: 30px} //18px when screen is above 1200px
  } 

//H3 text resize
@media(max-width: $screen-xs){
  h3 {font-size: 12px} //12px when screen is below 480px
}
@media(min-width: $screen-xs){
  h3 {font-size: 18px} //12px when screen is below 768px
}
@media(min-width: $screen-sm){
  h3 {font-size: 26px} //14px when screen is below 992px
  }    
@media(min-width: $screen-md){
  h3 {font-size: 30px} //16px when screen is below 1200px
  }    
@media(min-width: $screen-lg){
  h3 {font-size: 30px} //18px when screen is above 1200px
  } 

  @media(max-width: $screen-xs){
  .carousel-caption {font-size: 12px} //12px when screen is below 480px
}
@media(min-width: $screen-xs){
  .carousel-caption {font-size: 12px} //12px when screen is below 768px
}
@media(min-width: $screen-sm){
  .carousel-caption {font-size: 14px} //14px when screen is below 992px
  }    
@media(min-width: $screen-md){
  .carousel-caption {font-size: 16px} //16px when screen is below 1200px
  }    
@media(min-width: $screen-lg){
  .carousel-caption {font-size: 18px} //18px when screen is above 1200px
  } 

/*BODY MAIN*/

body {
  background-color: $background-lt-color;
  padding: 0;
  margin: $no-margin;
}

main { 
  padding-top: 50px; 
  background-color: $background-lt-color;
}

.row {
  max-width: $container-lg-desktop;
  margin: $centered;
}

.btn-info {
  color: $white;
  background-color: $btn-info-bg;
  border-color: $btn-info-border;
}

.btn-warning {
  color: $white;
  background-color: $btn-warning-bg;
  border-color: $btn-warning-border;
}

.btn-success {
  color: $white;
  background-color: $btn-success-bg;
  border-color: $btn-success-border;
}

button a {
  color: $link-color-dk;
}

/*NAVBAR*/

.navbar {
  max-height: $navbar-max-height;
  min-height: $navbar-min-height;
  margin-bottom: $navbar-margin-bottom;
}

.navbar-fixed-top {
  padding: 0.6em 2em 0 2em;
}

.navbar-logo {
  margin: 0em 0em;
  padding: 0em 0em;
}

@media(max-width: $screen-xs){
  .navbar-logo {
    position:absolute;
  } //12px when screen is below 768px
}

.navbar-img {
  margin: auto 10px auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.navbar-items {
  max-width: $container-lg-desktop;
  // margin: $centered;
}

.navbar-toggle {
  position: relative;
  float: left;
  margin-right: $navbar-padding-horizontal;
  padding: 9px 10px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: $border-radius-base;
}

.navbar-collapse {
    margin-right: $navbar-padding-horizontal;
    margin-left:  0;
}

/*BANNER*/
.top-banner {
  background-color: $background-dk-color;
  margin: $no-margin;
}

.herotitle {
  margin: 0 auto; 
}


.banner-logo {
  // padding: 3em 0em 0em 0em;

  margin: 20% auto 0 auto;
}


.banner-logo-text {
  padding: 5% 0 0 0;
}

.strapline {
  padding: 1% 0 0 2%;
  margin: $no-margin;
}

.strapline h1 {
  margin: 0 0 2% 0;
}

.video {
  // margin-top: 0%; 
  margin-bottom: -10%; 
}

.lower-banner {
  padding-top: 10%;
  margin: $no-margin;
}

.lower-banner h3 {
  margin-top: 1%;
}

.banner-btns {
  padding: 1% 0em;
  text-align: center;
}


/*SUB NAVBAR*/
.subnav {
  background-color: $background-md-color;
  border-top: $border;
  border-bottom: $border;
  margin-top: 2%;
}

.subnav-item {
  margin: $centered;
}

.subnav a {
  color: $link-color-dk;
}

.glyphicon-cog:before, .glyphicon-tag:before, .glyphicon-picture:before, .glyphicon-user:before, {
padding-right: 8%;
}

/*FEATURES*/
.feature {
  margin: $centered;
}

.feature .row {
  padding: 2em 0em;
}

.gradient {
  /* can be treated like a fallback */
  background-color: $background-lt-color;
  /* will be "on top", if browser supports it */
  background-image: -webkit-linear-gradient(bottom, $gradient-color 0%, $background-lt-color 27%);
}

//Carousel

.carousel {
  width: 80%;
  margin: $centered;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  
  background-image: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: -10%;
  bottom: 10%;
  width: 10%;
  opacity: 1;
  filter: none;
  font-size: 10%;
  color: $link-color-dk;
  text-align: center;
  text-shadow: none; 
}
  .carousel-control.left {
    background-image: none;
  }
  .carousel-control.right {
    left: auto;
    right: -10%;
    background-image: none;
    background-repeat: none;
  }
  .carousel-control:hover, .carousel-control:focus {
    outline: none;
    color: $accent-color;
    text-decoration: none;
    opacity: 1;
    filter: none; 
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block; 
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif; 
  }



.carousel-indicators {
  position: relative;
  bottom: 10px;
  left: 50%;
  z-index: 0;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; 
}
  .carousel-indicators li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid $link-color-dk;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent; 
  }
  .carousel-indicators .active {
    margin: 0;
    width: 6px;
    height: 6px;
    background-color: $link-color-dk; 
  }


.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  color: $text-color;
  text-shadow: none;
  text-align: $centered;
}

.feature .row .carousel-caption {
    padding: 2% 0 2% 0;
  }


/*pricing*/

.pricing {
  margin: 2em auto;
}

/*FOOTER*/

footer {
  background-color: $background-dk-color;
}

footer p {
  color: $text-color-lt;
  text-align: center;
  margin: 1em 0;
}

.footer-links {
  margin: 2em 0;

}


// Positioning

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
