
th>a {
  color: #000000;
  text-decoration: none; }
  a:hover, a:focus {
    color: #000000;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }


/*TEXT*/

h1, h2 {
  font-family: $font-sans-serif;
  color: #000000;
}

h3, p {
  font-family: $font-sans-serif;
  color: #000000;
}


// //Para Text Resize Responsively
// @media(max-width: $screen-xs){
//   p {font-size: 12px} //12px when screen is below 480px
// }
// @media(min-width: $screen-xs){
//   p {font-size: 12px} //12px when screen is below 768px
// }
// @media(min-width: $screen-sm){
//   p {font-size: 14px} //14px when screen is below 992px
//   }    
// @media(min-width: $screen-md){
//   p {font-size: 16px} //16px when screen is below 1200px
//   }    
// @media(min-width: $screen-lg){
//   p {font-size: 18px} //18px when screen is above 1200px
//   } 

// //H1 text resize
// // @media(max-width: $screen-xs){
// //   h1 {font-size: 16px} //12px when screen is below 480px
// // }
// // @media(min-width: $screen-xs){
// //   h1 {font-size: 22px} //12px when screen is below 768px
// // }
// // @media(min-width: $screen-sm){
// //   h1 {font-size: 30px} //14px when screen is below 992px
// //   }    
// // @media(min-width: $screen-md){
// //   h1 {font-size: 36px} //16px when screen is below 1200px
// //   }    
// // @media(min-width: $screen-lg){
// //   h1 {font-size: 40px} //18px when screen is above 1200px
// //   } 

// //H2 text resize
// @media(max-width: $screen-xs){
//   h2 {font-size: 16px} //12px when screen is below 480px
// }
// @media(min-width: $screen-xs){
//   h2 {font-size: 20px} //12px when screen is below 768px
// }
// @media(min-width: $screen-sm){
//   h2 {font-size: 24px} //14px when screen is below 992px
//   }    
// @media(min-width: $screen-md){
//   h2 {font-size: 28px} //16px when screen is below 1200px
//   }    
// @media(min-width: $screen-lg){
//   h2 {font-size: 30px} //18px when screen is above 1200px
//   } 

// //H3 text resize
// @media(max-width: $screen-xs){
//   h3 {font-size: 12px} //12px when screen is below 480px
// }
// @media(min-width: $screen-xs){
//   h3 {font-size: 18px} //12px when screen is below 768px
// }
// @media(min-width: $screen-sm){
//   h3 {font-size: 26px} //14px when screen is below 992px
//   }    
// @media(min-width: $screen-md){
//   h3 {font-size: 30px} //16px when screen is below 1200px
//   }    
// @media(min-width: $screen-lg){
//   h3 {font-size: 30px} //18px when screen is above 1200px
//   } 



/*BODY MAIN*/

body {
  background-color: #ffffff;
  padding: 0;
  margin: $no-margin;
}


main { 
  padding-top: 130px; 
  background-color: #ffffff;
  height: 100%
}

@media (min-width: $screen-sm){
  main {
    padding-top: 130px;
  }
}

// BODY

div.landing-page.container {
  height: 100vh;
}
div.row.landing-top-row {
  padding-top: 2%;
  // max-height: 500px;
}

div.landing-col {
  max-height: 462px;
}

img.bills-img {
  float: right;
  // width: 50%;
  max-height: 100%;
}


h1.strapline {
  text-align: left;
  font-family: 'Source Sans Pro','Proxima Nova Condensed', sans-serif;
  max-height: 500px;
}


.strapline {font-size: 30px} //12px when screen is below 480px

@media(min-width: $screen-sm){
  .strapline {font-size: 66px} //14px when screen is below 992px
  }    
@media(min-width: $screen-md){
  .strapline {font-size: 70px} //16px when screen is below 1200px
  }    
@media(min-width: $screen-lg){
  .strapline {font-size: 70px} //18px when screen is above 1200px
  } 


.landing-info h2 {
  font-size: 2.8em;
  line-height: 28px;
  font-weight: 200;
}

.landing-info p {
  font-size: 1.8em;
  line-height: 28px;
  font-weight: 200;
}

