// welcome modal

.first_sign_in a.lg-btn {
  margin: 0px 5px 15px 0px;
}

// plans page

.plans {
  div.panel {
  margin-top: 30px;
}
}

div.signup {
  // margin: 10px 0px 0px;
  text-align: center;
}

// help pages images and help nav logo
@media screen and (max-width: 767px){
div.help-page > ul > img {
  width: 100%;
}
}

@media screen and (min-width: 768px){
div.help-page > ul > img {
  width: 80%;
  margin-left: 5%;
}
}

.help-page img {
  border: 1px $black solid;
  margin-top: 12px;
}

img.help-icon, img.help-logo {
  border: none;
}

// help page videos

div.help-video {
  margin: 20px auto 40px !important;
  border: 1px solid $black !important;
}

div.help-video.vjs-default-skin > div.vjs-big-play-button {
  top: 5% !important;
  left: 3% !important;
}

h2.video-header {
  padding-top: 40px;
}

// prevents navbar from obscuring headings on in page links

@media screen and (min-width: 768px){
.spacer {
  padding-top: 80px;
  margin-top: -80px;
}
}

@media screen and (max-width: 767px){
.spacer {
  padding-top: 10px;
  margin-top: 0px;
}
}


// styles back to tops
a.top {
  color: #000; 
  float: right;
  padding: 10px 0px;
}

// styles side navbar
ul.faq {
  list-style-type: none;
  padding-left: 0;
}


ul {
list-style-type: square;
}

// styles free demo page
div.panel.demo-info {
  margin-bottom: 40px;
}
.demo-info ul {
margin-bottom: 10px;
}