// help pages
@media screen and (max-width: 767px){
div.help-page > ul > img {
  width: 100%;
  // margin-left: 5%;
}
}

@media screen and (min-width: 768px){
div.help-page > ul > img {
  width: 80%;
  margin-left: 5%;
}
}

.help-page img {
  border: 1px black solid;
  margin-top: 20px;
  margin-bottom: 20px;
}

img.help-icon, img.help-logo {
  border: none;
}

// prevents navbar from obscuring headings on in page links

@media screen and (min-width: 768px){
.spacer {
  padding-top: 80px;
  margin-top: -80px;
}
}

@media screen and (max-width: 767px){
.spacer {
  padding-top: 10px;
  margin-top: 0px;
}
}


// styles back to tops
a.top {
  color: #000; 
  float: right;
  padding: 10px 0px;
}

// styles side navbar
ul.faq {
  list-style-type: none;
  padding-left: 0;
}


ul {
list-style-type: square;
}

// styles free demo page
div.panel.demo-info {
  margin-bottom: 40px;
}
.demo-info ul {
margin-bottom: 10px;
}