// prevents navbar from obscuring headings on in page links
.spacer {
  padding-top: 80px;
  margin-top: -80px;
}

// styles back to tops
a.top {
  color: #000; 
  float: right;
  padding: 10px 0px;
}

// styles side navbar
ul.faq {
  list-style-type: none;
  padding-left: 0;
}

