// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Invoice edit checkboxes align with text fields
input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin-top: 0px;
}

// width and spacing below header tables
table.invoice-show {
  max-width: 100%;
  margin-bottom: 10px;
}

// invoice show header styling
table.invoice-show > tbody > tr > th.th-invoice {
  width: 150px;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 2rem;
}

table.invoice-show > tbody > tr > td.td-invoice {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 2rem;
}

table.invoice-show > tbody > tr > td.td-invoice > p {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 2rem;
  margin: 0;
}

// invoice edit styling

table.invoice-edit {
max-width: 100%;
margin: 5px 0px;
}

div.invoice-edit > span.select2-container {
max-width: 80%;
margin: 0 0 0 0;
float: right;
}

div.invoice-edit > textarea.form-control {
  width: 80%;
  max-width: 80%;
  min-height: 60px;
}

div.input-group.invoice-edit {
  width: 100%;
}

div.invoice-edit > label {
  width: 20%;
}

div.invoice-edit > label.check {
  width: 115px;
}

table.invoice-edit {
  width: 100%;
}

table.invoice-edit > tbody > tr > th.th-invoice {
  width: 20%;
  font-size: 1.3rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 2rem;
}
table.invoice-edit > tbody > tr > td.td-invoice {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 2rem;
  padding-left: 9px;
}

table.invoice-edit > tbody > tr > td.td-invoice > p {
  width: 80%;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 2rem;
  margin: 0;
}

td.remove-col > input[type="checkbox"] {
  margin-left: 0px;
}

th.th-invoice.th-comment {
  vertical-align: top;
}

.line-through {
  text-decoration: line-through;
}