// Help navbar logo sizing
.help-logo {
padding: 0px;
height: 45px;
margin: 12px 10px 0px 0px;
}

.help-icon {
  padding: 0px;
  height: 38px;
  margin: 12px 10px 0 0px;
}

// Help navbar logo to icon transition at small screen size
@media screen and (min-width: 480px){
    .help-logo {display:inline;}
    .help-icon {display:none;}
}

/* logo media queries */

@media screen and (max-width: 479px){
    .help-logo {display:none;}
    .help-icon {display:inline;}
}

// Ensures datepicker fields appear over text fields
div.input-group {
  z-index: 2;
}

// NAVBAR OUTER CONTAINER
nav.navbar-wrapper {
  width: 100vw;
  margin: 0;
  position: fixed;
  padding: 0 0;
  min-height: 70px;
  z-index:1030;
}

/*TOP NAVBAR*/
.navbar-container {
  background-color: $white;
  max-height: 70px;
  border-bottom: $black 1px solid;  
  background-color: $white;
}

.navbar-row {
  max-height: 70px;
  min-height: 62px;
  z-index: 1030;
}

div.logo-col, div.btn-col {
  max-height: 70px;
}

// places buttons to right of navbar at full width when signed out
div.btn-col {
  >a {
  float: right;
  }
}

// navbar logo 
div .navbar-logo, div .navbar-icon {
  padding: 0px;
  height: 60px;
  margin: 1px 1px;
}

.navbar-logo img {
  // margin: 18px 0 0 0;
  max-height: 45px;
}

.navbar-icon img {
  max-height: 38px;
}


.navbar-logo img, .navbar-icon img {
margin: 12px 0 0 0;
} 


@media screen and (min-width: 480px){
    .navbar-logo {display:block;}
    .navbar-icon {display:none;}
}

/* logo media queries */

@media screen and (max-width: 479px){
    .navbar-logo {display:none;}
    .navbar-icon {display:block;}
}


@media (max-width: 479px) {
  .col-xxs-3 {
  width: 25%;
  }
  .col-xxs-9 {
    width: 75%;
  }
}
 

// signin/signup btns

a.nav-btn {
  border: $black 2px solid;
  border-radius: 5px 5px;
  text-align: center;
  color: $black;
  padding: 8px 12px;
  font-size: 1.4rem;
  margin: 14px 5px 0 0;
  overflow: hidden;
  font-family: $ubuntu;
  font-weight: 600;
  display: inline;
  clear:none;
}


a.nav-btn:hover, a.nav-btn:focus {
text-decoration: none;
background-color: $light-grey;
cursor: pointer;
}


a.nav-btn {float: right;
} 



// SUBNAV and DROPDOWN MENUS

// removes gap between the two navbar columns
.split-row {
  padding: 0 0;
}

.subnav-container {
  background-color: $white;
  min-height: 45px;
  border-bottom: $black 1px solid;
  z-index: 1030;    
}

.subnav-row {
  width: 100%;
  min-height: 40px;
  background-color: $white;

}

.subnav-col {
  padding: 0 0;
}


div.subnav-link {
    float: none;
      text-align: center;
      display: table-cell;
      width: 1%;
      min-width: 90px;
      padding: 12px 0px 8px 0px;
    }

a.subnav-btn, a.menu-item {
  text-align: center;
  color: $black;
  font-size: 1.6rem;
  font-family: $ubuntu;
  padding-top: 8px;
}

div.subnav-link>li.dropdown {
  list-style-type: none;
}

.dropdown-menu > li > a {
  padding: 7px 20px;
}

// aligns dropdown with bottom of subnav
.dropdown-menu {
  right: 0; 
  left: auto;
  min-width: 228px;
  margin-top: 15px;
  }

// aligns dropdown with bottom of subnav at xs
  @media (max-width: 767px) {
    .dropdown-menu {
      margin-top: 8px;       
    }
  }

// sticks dropdown menu for tools to left of screen at xs
  @media (max-width: 767px) {
    .tools-menu {
      left: 0;
      right: auto;       
    }
  }

// dropdown menu for accounts aprox centered at xs
  @media (max-width: 767px) {
    .account-menu {
      left: -60px;
      right: auto;       
    }
  }

// makes hr dividing subnav rows at xs span full width
  @media (max-width: 767px) {
    div.subnav-container.container, div.subnav-row.row, div.subnav-col {
      padding-right: 0px;
      padding-left: 0px;      
    }
  }

  @media (max-width: 767px) {
    div.subnav-row.row {
      margin-right: 0px;
      margin-left: 0px;      
    }
  }

  @media (max-width: 767px) {
    div.subnav-link.hidden-link {
      display: table-cell;   
    }
  }

  @media (min-width: 768px) {
    div.subnav-link.hidden-link {
      display: none;   
    }
  }

// Active states including thick underline and pointer
a.subnav-btn:hover, a.subnav-btn:focus, a.subnav-btn:active {
  text-decoration: none;
  border-bottom: $black 4px solid;
  cursor: pointer;
}

// / Justified subnav links

.justified-nav {
  > a {
    float: none;
      text-align: center;
      display: table-cell;
      width: 1%;
  }
}

