
// hides outer panel border which would otherwise surround tabs
div.analysis-panel {
  border: 0px solid $white;
}

// Removes padding from panel-body to align with form header
div.panel-body.analysis-panel {
    padding: 0px;
}

// TABS

// Positioning and size
.nav-tabs {
  border-bottom: 1px solid transparent;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -2px;
    width: 20%;
    min-width: 40px;
    }
}


.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
color: $dk-grey;
background-color: #f5f5f5;
border: 1px solid #dddddd;
cursor: pointer;
}


//CHARTS
// adds line around container
div.tab-content
{
border: 1px solid #dddddd;
}

// move pie charts down from top of tab 
div.tab-pane > div.row {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
}

// chart total above charts
.chart-total {
  text-align: center;
  font-weight: $bold;
//  font-size: 14px;
}

//TABLE
// moves export button away from edge of box
div.tab-pane > .action-btn, div.tab-pane > .export-btn {
  margin: 10px 10px 10px 10px; 
}

