// sets standard position to static so sits above content at small sizes
  dl.affix {
    position: static;
  }

// sets position fixed at 80px from top for larger sizes. 
// data-offset-top of 120 gives allows it to scroll 120px from start position before fixing
// @media (min-width: 694px) {
@media (min-width: 768px) {
  dl.affix {
    top: 80px; 
    position: fixed;
  }
}