
// provides space at top of table
div.table-responsive {
  margin-top: 10px;
}


// aligns amount col right to keep numbers in line
th.align-right, td.align-right {
  text-align: right;
}

// padding to keep 1st and last columns away from edge of page
.table-condensed > thead > tr > th.align-right,
.table-condensed > thead > tr > td.align-right,
.table-condensed > tbody > tr > th.align-right,
.table-condensed > tbody > tr > td.align-right,
.table-condensed > tfoot > tr > th.align-right,
.table-condensed > tfoot > tr > td.align-right
 {
  padding-right: 10px ;
}

.table-condensed > thead > tr > th.first-col,
.table-condensed > thead > tr > td.first-col,
.table-condensed > tbody > tr > th.first-col,
.table-condensed > tbody > tr > td.first-col,
.table-condensed > tfoot > tr > th.first-col,
.table-condensed > tfoot > tr > td.first-col {
  padding-left: 10px;
}


tfoot {
  border-top: 2px solid #bbbbbb;
  border-bottom: 2px solid #dddddd;
}

thead {
  border-bottom: 2px solid #444;
}

tfoot > tr > td.title-td {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
}


// scroll as soon as too much content
@media (max-width: $screen-lg) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;

    // Tighten up spacing and give a background color
    > .table {
      margin-bottom: 0;
      background-color: #fff;

      // Ensure the table head content doesn't wrap add >td to prevent any wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th {
            white-space: nowrap;
          }
        }
      }
    }
      }
    }

// remove margin bottom on p tags in tables
td > p {
  margin-bottom: 0;
}


// wraps text in col once max width reached
.table-responsive > .table > thead > tr > td.comment-col,
.table-responsive > .table > thead > tr > td.customer-col,
.table-responsive > .table > thead > tr > td.description-col-lg,
.table-responsive > .table > thead > tr > td.description-col-sm,
.table-responsive > .table > thead > tr > td.supplier-col,
.table-responsive > .table > thead > tr > td.category-col,
.table-responsive > .table > thead > tr > td.date-col,
.table-responsive > .table > tbody > tr > td.comment-col,
.table-responsive > .table > tbody > tr > td.customer-col,
.table-responsive > .table > tbody > tr > td.description-col-lg,
.table-responsive > .table > tbody > tr > td.description-col-sm,
.table-responsive > .table > tbody > tr > td.supplier-col,
.table-responsive > .table > tbody > tr > td.category-col,
.table-responsive > .table > tbody > tr > td.date-col,
.table-responsive > .table > tfoot > tr > td.comment-col,
.table-responsive > .table > tfoot > tr > td.customer-col,
.table-responsive > .table > tfoot > tr > td.description-col-lg,
.table-responsive > .table > tfoot > tr > td.description-col-sm,
.table-responsive > .table > tfoot > tr > td.supplier-col,
.table-responsive > .table > tfoot > tr > td.category-col,
.table-responsive > .table > tfoot > tr > td.date-col  {
  white-space: pre-line;
} 

th.date-col {
  width: 10%;
  min-width: 60px;
}  

th.amount-col {
  width: 5%;
  min-width: 60px;
}  

th.number-col {
  width: 10%;
  min-width: 55px;
}

th.customer-col {
  width: 20%;
  min-width: 90px;
}

th.category-col {
  width: 20%;
  min-width: 90px;
}

th.comment-col {
  width: 50%;
  min-width: 150px;
}

th.supplier-col {
  width: 20%;
  min-width: 90px;
}

th.description-col-lg {
  width: 40%;
  min-width: 150px;
}

th.description-col-sm {
  width: 25%;
  min-width: 150px;
}

td.remove-col {
  text-align: center;
}

// customer details form
th.customer-name {
  width: 30%;
  white-space: nowrap;
}

th.customer-address {
  width: 50%;
  white-space: nowrap;
}

th.customer-postcode {
  width: 20%;
  white-space: nowrap;
}

td.customer-name {
  width: 30%;
  min-width: 100px;
  white-space: pre-line;
}

// white-space pre-line commented out because it adds an additional carriage return
td.customer-address {
  width: 50%;
  min-width: 110px;
  // white-space: pre-line;
}

td.customer-postcode {
  width: 20%;
  min-width: 70px;
  white-space: nowrap;
}
