<% content_for :title do %>Bulldog-Clip | Edit Category<% end %>
<% content_for :description do %>Bulldog-Clip edit category<% end %>

<div class="container-fluid">
<section>
  <div class="row">
    <div class="col-md-5">
      <h2>Rename Category</h2>
      <p>All categories have bills associated with them. When you rename a category those bills will be reassigned to the new named category. If the new category already exists then the categories will be merged.</p>
      <p>Use this feature to tidy up mis-spellings or merge little used categories.</p>
      <p>Renaming categories can also be seen as re-classifying bills.</p>
    </div>
    <div class="col-md-7">
      <%= form_for @category do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <% end %>      
    </div>

  </div>
</section>

</div><!-- end container-fluid -->