<% content_for :title do %>Bulldog-Clip | Categories<% end %>
<% content_for :description do %>Bulldog-Clip categories index<% end %>

<div class="container"> 
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
      <h1>Categories</h1>
        <a href="#" id="pop" class="info-btn pop" data-trigger="hover" data-placement="left" data-container= "body" data-original-title="Select category to rename" data-content="Use this feature to tidy up mis-spellings or merge little used categories. Select the category you want to rename by clicking on the category in the table below. "><img src="/assets/info_btn.png" alt="info button" class="info-img"/></a>

      <table class="table table-hover table-condensed" id="categories_table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr title="click to edit", class="pointer rowlink",
                data-rowlink="<%= edit_category_path(category)%>">
              <td><%= category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>