<table style="width: 600px;">
  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
      <%#= image_tag("bulldog_clip_navbar_logo.png", :alt => "BulldogClip") %>
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Hello <%= @resource.email %>,
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
    </td>
  </tr>

  <tr>
    <th style="height: 37px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;font-style: bold;border-top: 1px solid black;border-bottom: 1px solid black;">BulldogClip Password Reset Instructions
    </th>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">We have received a password reset request for your account. To reset your password please follow the link below.</td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">If you didn't make the request, please ignore this email. Your password won't change until you access the link above and create a new one.
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">Regards,
    </td>
  </tr>


  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">The BulldogClip team
    </td>
  </tr>

  <tr>
    <td style="height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
    </td>
  </tr>

  <tr>
    <td style="border-top: 1px solid #d0d0d0;height: 27px;color: #000000;font-family: Arial, Sans-serif;font-size: 14px;">
    </td>
  </tr>

  <tr>
    <td style="color: #777777;font-size: 12px;height: 27px;font-family: Arial, Sans-serif;">This email is confidential and intended solely to whom it is addressed. It may contain sensitive or privileged information. If you have received this email in error, please inform us at hello@bulldogclip.co.uk and destroy it. Questions? contact us at hello@bulldogclip.co.uk
    </td>
  </tr>
</table>