<% content_for :title do %>BulldogClip Business & Personal Plans - Free Trial<% end %>
<% content_for :description do %>BulldogClip online cost tracking software. Free trial. Business & Personal plans make it simple to record expenses, monitor spending, & create invoices.<% end %>

<div class="container plans">
  <section class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <!-- <h1 style="color:green">Start Your Free Trial Today</h1> -->
        <h1>BulldogClip subscriptions are closed</h1>
      </div>
    </div><!--end row -->
  </section><!--end container-->
  <hr>

  <div class="container plans">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <!-- <div class="panel panel-default freetrial"> -->
        <!-- <div class="panel-body"> -->
          <p class="details" style="font-size: 2rem">No new subscriptions are being issued. It is free to current subscribers. </p>
          <!-- <p> Don't worry, we will remind you when the trial period is coming to an end. </p> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

