<% content_for :title do %>BulldogClip | Plans<% end %>
<% content_for :description do %>Subscription plans<% end %>

<div class="container plans">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <h1>Subscription Plans</h1>
      </div>
    </div><!--end row -->
  </section><!--end container-->
  <hr>

  <div class="container plans">
    <div class="col-md-4 col-md-offset-1 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="plan">
            <h2>Personal</h2>
            <hr>
            <h3>£10 <small>per year</small></h3>
            <p class="details">Ideal for individuals who want to track and analyse their personal spending. Packed full of features including:</p>
            <div class="ticklist">
              <ul class="tick">
                  <li>&#10004;&emsp;Unlimited Bills</li>
                  <li>&#10004;&emsp;Advanced analysis</li>
                  <li>&#10004;&emsp;Create PDF documents</li>
                  <li>&#10004;&emsp;Simple data export</li>
              </ul>
            </div>
            <div class="signup">
              <%= link_to "Get the personal plan", new_account_path(plan_id: 1, title: "Personal", price: "£10", interval: "per year"), class: "create-btn lg-btn", data: {toggle: "tooltip"}, title: "Sign up for a personal account" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-2 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="plan">
            <h2>Business</h2>
            <hr>
              <h3>£5 <small>per month</small></h3>
              <p class="details">All the features of the personal plan and more. This plan is designed to meet the needs of sole-traders and small businesses.</p>
              <div class="ticklist business">
                <ul class="tick">
                    <li>&#10004;&emsp;Personal plan +</li>
                    <li>&#10004;&emsp;Optional VAT support</li>
                    <li>&#10004;&emsp;Your logo on documents</li>
                </ul>
              </div>
              <div class="signup business">
                <%= link_to "Get the monthly plan", new_account_path(plan_id: 2, title: "Business Monthly", price: "£5", interval: "per month"), class: "create-btn lg-btn", data: {toggle: "tooltip"}, title: "Sign up for a business account" %>
              </div>
              <h3><small>or </small>£50 <small>per year (save £10)</small></h3>
              <div class="signup business">
              <%= link_to "Get the annual plan", new_account_path(plan_id: 3, title: "Business Annual", price: "£50", interval: "per year"), class: "create-btn lg-btn", data: {toggle: "tooltip"}, title: "Sign up for a business account" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
