<div id="flashes" class="container flashes">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert <%= "#{flash_type_style(name)}" %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-toggle="tooltip" title="Close message">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>