<footer class="row">
  <section class="col-md-4">
    Copyright <%= Time.now.strftime('%Y') %>
  </section>
  <section class="col-md-8">
    All rights reserved.
    <%= link_to 'About', page_path('about') %>
  </section>
</footer>