
<nav class="navbar-wrapper container">
  <div class="navbar-container container">
    <div class="navbar-row row" id="navbar">
      <div class="help-page col-sm-6 col-xs-6 col-xxs-3 logo-col">
        <%= link_to (image_tag 'bulldog_clip_navbar_logo.png', class: 'img-responsive help-logo'), '/help/intro', class: 'pull-left', data: {toggle: "tooltip"}, title: "Return to help menu" %>
        <%= link_to (image_tag 'bulldog_clip_navbar_icon.png', class: 'img-responsive help-icon'), '/help/intro', class: 'pull-left', data: {toggle: "tooltip"}, title: "Return to help menu" %>
        <!-- <img class="img-responsive help-logo"  src="/assets/bulldog_clip_navbar_logo.png" alt="BulldogClip logo"> -->
        <!-- <img class="img-responsive help-icon"  src="/assets/bulldog_clip_navbar_icon.png" alt="BulldogClip icon"> -->
      </div>
      <div class="col-sm-6 col-xs-6 col-xxs-9 btn-col">
        <%= link_to 'Help main menu', '/help/intro', class: 'nav-btn', data: {toggle: "tooltip"}, title: "Return to help menu" %>
      </div><!-- end logo-col -->
    </div>
  </div>
</nav>


