<% content_for :title do %>Bulldog-Clip | Edit Account<% end %>
<% content_for :description do %>Reset Bulldog-Clip password<% end %>
<div class="container">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="panel-body">
      <div class = 'authform'>
        <h1>Account Details</h1>
          <a href="#" id="pop" class="info-btn pop" data-trigger="click" data-placement="left" data-container= "body" data-original-title="How to edit your account" data-content="These are your current account details that will be used in any invoices you create. Use the 'Edit' button to change your details."><img src="/assets/info_btn.png" alt="info button" class="info-img"/></a>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>