<% content_for :title do %>Bulldog-Clip | Edit Account<% end %>
<% content_for :description do %>Reset Bulldog-Clip password<% end %>
<div class = 'authform'>
  <h1>Account Details</h1>
  <%= render 'form' %>
</div>
