<% content_for :title do %>BulldogClip | Edit Account<% end %>
<% content_for :description do %>Reset BulldogClip password<% end %>
<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 panel panel-default">
    <div class="panel-body">
      <div class = 'authform'>
        <h1>Account Details</h1>

     <a href="#" id="pop" class="info-btn pop"
     data-title="Edit Your Account Details"
     data-content="
     <ul class='info-ul'>
     <li>The account name will be required when we offer access to multiple 
     accounts in a future release.</li>
     <li>If you choose to change plans to one with a different payment interval or
     amount, we will prorate any difference at your next billing date.</li>
     <li>If you choose to cancel your account, please note that we do not
     offer refunds. See our terms and conditions for more information.</li>
     <li>Tick the checkbox to enable VAT on bills and invoices (Business 
     plans only).</li>
     </ul>">
     <img src=<%= asset_path('info_btn.png') %> alt="info button" class="info-img"/>
     </a>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>