<% content_for :title do %>Bulldog-Clip | New Account<% end %>
<% content_for :description do %>Create new account<% end %>
<h1>New Account</h1>
<div class="authform">
  <%= render 'form' %>  
</div>
